﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Transaction Report";
}

@*Header*@
    <div class="main-content-container container-fluid px-4">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Report</span>
                <h3 class="page-title">Transaction Report</h3>
            </div>
        </div>

        @*Body*@
        <div class="row">
            <div class="col">
                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">
                    </div>
                    <div class="card-body p-0 pb-3 text-center">
                        <div class="row no-gutters py-md-5" style="width:100%; height:100%;">
                            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
