﻿@model IEnumerable<Nyooy.Models.tbl_product>
@{
    ViewBag.Title = ViewBag.Category;
}

<section class="food__special__offer bg--white section-padding--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">Our Special Dishes</h2>
                    <p>@ViewBag.Category</p>
                </div>
            </div>
        </div>
        <div class="row mt--40">
            <!-- Start Single Offer -->
            @foreach (var item in Model)
            {
            <div class="col-md-6 col-sm-12 col-lg-3">
                <div class="food__offer text-center foo offer-hover h-100">
                    <div class="offer__thumb poss--relative">
                        <img class="offer__thumb" src="@Url.Content("~/images/product/" + @item.photo)" alt="offer images">
                    </div>
                    <div class="offer__details offer-hover">
                        <h2><a href="@Url.Action("Details", "Menu", new { id = @item.id })">@item.name</a></h2>
                        <div style="height:120px;">
                            @if (@item.description.Length > 100)
                            {
                                <p>@item.description.Substring(0, 99) ...</p>
                            }
                            else
                            {
                                <p>@item.description</p>
                            }

                        </div>

                        <div>
                            <h2 class="price">
                                @string.Format("{0:C}", item.price)
                            </h2>
                            <div class="offer__btn" itemid="@item.id" onclick="AddToCart(this)">
                                <a class="food__btn grey--btn mid-height" href="javascript:;">Add to Cart</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            }
            

        </div>
    </div>
</section>
<div class="modal fade" id="successAddToCart" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-light" role="alert" style="color: #333">
            Successfully Added Item to Cart
        </div>
    </div>

</div>