﻿@model Nyooy.Models.tbl_product

@{
    ViewBag.Title = Model.name;
}
<section class="blog__list__view section-padding--lg menudetails-right-sidebar bg--white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">Menu Detail</h2>
                </div>
            </div>
        </div>
        <div class="row mt--80">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="food__menu__container">
                    <div class="food__menu__inner d-flex flex-wrap flex-md-nowrap flex-lg-nowrap">
                        <div class="food__menu__thumb">
                            <img class="menu-detail-img" src="@Url.Content("~/images/product/" + Model.photo)" alt="images">
                        </div>
                        <div class="food__menu__details">
                            <div class="food__menu__content">
                                <h2>@Model.name</h2>
                                <ul class="food__dtl__prize d-flex">
                                    @if (Model.category == "Promo" && Model.promo != 0)
                                    {
                                        <li class="old__prize" style="color: #dddddd">@string.Format("{0:C}", Model.promo)</li>
                                    }
                                    <li>@string.Format("{0:C}", Model.price)</li>
                                </ul>
                                <p>@Model.description</p>
                                <div class="product-action-wrap">
                                    <div class="prodict-statas"><span>Category : @Model.category</span></div>
                                </div>
                                <div style="margin-top:20px">
                                    <a class="food__btn text-white" itemid="@Model.id" href="javascript:;" onclick="AddToCart(this)">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Product Descrive Area -->
                    <!-- End Product Descrive Area -->
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="successAddToCart" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-light" role="alert" style="color: #333">
            Successfully Added Item to Cart
        </div>
    </div>

</div>