﻿
@{
    ViewBag.Title = "Category";
}


<section class="food__feature__area section-padding--sm bg--white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">Menu Categories</h2>
                    <p>Nyooy Has Many Menu Variants That You Can Choose</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Single Feature -->
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="square">
                    <div class="feature text-center">
                        <div class="feature__thumb">
                            <a href="@Url.Action("Category", "Menu", new { id = "maem" })">
                                <img src="~/images/product/Chicken Nyooy Black Butter.jpg" alt="feature images">
                            </a>
                        </div>
                        <div class="feature__details">
                            <h4><a href="@Url.Action("Category", "Menu", new { id = "maem" })">Maem'e</a></h4>
                            <h6>All types of Nyooy Main Course</h6>
                            <p>adipisicing elid tempor in dolore magna alua. Ut enim ad minim veniamexercitation llamco laboris nisi ut aliqui</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Feature -->
            <!-- Start Single Feature -->
            <div class="col-md-6 col-lg-4 col-sm-12 sm--mt--40">
                <div class="square">
                    <div class="feature text-center">
                        <div class="feature__thumb">
                            <a href="@Url.Action("Category", "Menu", new { id = "jajan" })">
                                <img src="~/images/product/Snack Bucket.jpg" alt="feature images">
                            </a>
                        </div>
                        <div class="feature__details">
                            <h4><a href="@Url.Action("Category", "Menu", new { id = "jajan" })">Jajan'e</a></h4>
                            <h6>All types of Nyooy Special Snacks</h6>
                            <p>adipisicing elid tempor in dolore magna alua. Ut enim ad minim veniamexercitation llamco laboris nisi ut aliqui</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Feature -->
            <!-- Start Single Feature -->
            <div class="col-md-6 col-lg-4 col-sm-12 sm--mt--40 md--mt--40">
                <div class="square">
                    <div class="feature text-center">
                        <div class="feature__thumb">
                            <a href="@Url.Action("Category", "Menu", new { id = "mimik" })">
                                <img src="~/images/product/Pinky Berry.jpg" alt="feature images">
                            </a>
                        </div>
                        <div class="feature__details">
                            <h4><a href="@Url.Action("Category", "Menu", new { id = "mimik" })">Mimik'e</a></h4>
                            <h6>All types of Nyooy Special Beverages</h6>
                            <p>adipisicing elid tempor in dolore magna alua. Ut enim ad minim veniamexercitation llamco laboris nisi ut aliqui</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Feature -->
            <!-- End Single Feature -->
        </div>
    </div>
</section>
<!-- End Feature Area -->