.bg-image-nyooy-1 {
    background-image: url('../../images/nyooy-header-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-image-nyooy-2 {
    background-image: url('../../images/nyooy-header-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
}

.price {
    color: #17c671;
}

.food-offer:hover {
    background: #FBED1B;
    color: #fff;
    text-shadow: none;
}

.offer-hover:hover .price {
    color: #ffffff;
}

.h1-header {
    color: #FBED1B;
}

.section-padding--lg {
    padding: 50px 0;
}

.section-padding--sm {
    padding: 10px 0;
    padding-bottom: 50px;
}

.testimonial__activation--1 {
    background-image: url();
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
}

.bg--theme {
    background: #000000;
}

.cartbox__total__area {
    margin-top: 30px;
}

.offer__thumb img {
    width: 271px;
}

.offer__thumb {
    max-width: 271px;
    height: 181px;
    object-position: center;
    object-fit: cover;
}

.old__prize {
    text-decoration: line-through #d50c0d;
}

.menu__grid__thumb img {
    width: 370px;
    height: 280px;
    object-position: center;
    object-fit: cover;
}

.about__thumb img {
    width: 370px;
    height: 360px;
    object-position: center;
    object-fit: cover;
}

.menu-detail-img {
    width: 370px;
    height: 380px;
    object-position: center;
    object-fit: cover;
}

a:not([href]):not([tabindex]) {
    color: #444;
    text-decoration: none;
}

    a:not([href]):not([tabindex]):hover {
        color: #fff;
        text-decoration: none;
    }

.food__btn.grey--btn {
    background: #f2f2f2 none repeat scroll 0 0;
    color: #444444;
    font-size: 16px;
    font-weight: 700;
}

    .food__btn.grey--btn:hover {
        color: #fff;
    }

nav.login__menu__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

    nav.login__menu__nav ul {
        padding-left: 0;
        margin-bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: stretch;
        -moz-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
    }

        nav.login__menu__nav ul li {
            padding: 0 20px;
            display: inline-block;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-self: stretch;
            -moz-align-self: stretch;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
        }

            nav.login__menu__nav ul li:hover a {
                color: #d50c0d;
            }

            nav.login__menu__nav ul li.drop {
                position: relative;
            }

                nav.login__menu__nav ul li.drop:hover ul.dropdown__menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                nav.login__menu__nav ul li.drop ul.dropdown__menu {
                    background: #fff;
                    border: medium none;
                    border-radius: 0;
                    display: block;
                    left: 0;
                    min-width: 232px;
                    opacity: 0;
                    padding: 0;
                    position: absolute;
                    text-align: left;
                    top: 100%;
                    transform: translateY(10%);
                    transition: 0.3s;
                    visibility: hidden;
                }

                    nav.login__menu__nav ul li.drop ul.dropdown__menu li {
                        border-bottom: 1px solid #f2f2f2;
                        display: block;
                        float: none;
                        margin-left: 0;
                        margin-right: 0;
                    }

                        nav.login__menu__nav ul li.drop ul.dropdown__menu li a {
                            color: #444;
                            display: block;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-weight: 400;
                            height: auto;
                            line-height: 45px;
                            padding: 0;
                            text-transform: capitalize;
                            transition: all 150ms linear 0s;
                        }

                            nav.login__menu__nav ul li.drop ul.dropdown__menu li a:hover {
                                color: #d50c0d;
                                padding-left: 5px;
                            }

            nav.login__menu__nav ul li a {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-self: stretch;
                -moz-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
                color: #444;
                font-size: 14px;
                height: 100px;
                font-weight: 700;
                text-transform: capitalize;
            }
