.bg-image-nyooy-1 {
    background-image: url('images/nyooy-header-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-image-nyooy-2 {
    background-image: url('images/nyooy-header-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
}

.price{
	color: #17c671;

}

.food-offer:hover {
    background: #FBED1B;
    color: #fff;
    text-shadow: none;
}

.offer-hover:hover .price{
	color:#ffffff;
}

.h1-header{
	color: #FBED1B;
}

.section-padding--lg {
    padding: 50px 0;
}

.section-padding--sm {
    padding: 10px 0;
    padding-bottom: 50px;
}

.testimonial__activation--1 {
    background-image: url();
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
}

.bg--theme {
    background: #000000;
}

.cartbox__total__area {
    margin-top: 30px;
}

.offer__thumb{
    max-width: 271px;
    max-height: 181px;
    object-position: center;
    object-fit: cover;

}

.old__prize{
    text-decoration: line-through #d50c0d;
}
