﻿@model Nyooy.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Add New Product";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Add New Products</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <a href="@Url.Action("Index", "Products")">
                        <span style="font-size:17px; display:inline-block;" class="fa">&#xf060;</span>
                    </a>
                    <h6 class="m-0 m-lg-3" style="display:inline-block;">New Product Form</h6>
                </div>
                @using (Html.BeginForm("Save", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <!-- Normal Buttons -->
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Product.name, "Product Name")
                                    @Html.TextBoxFor(m => m.Product.name, new { @class = "form-control", @type = "text", @placeholder = "Nyooy's Best Product" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Product.category, "Category")
                                    @Html.DropDownListFor(m => m.Product.category, new SelectList(Model.Category), "Choose...", new { @class = "form-control", @id = "category" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Product.price, "Price")
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rp.</span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Product.price, new { @class = "form-control", @type = "number", @placeholder = "15000" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-row" style="display:none;" id="promo">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.Product.promo)
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Rp.</span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Product.promo, new { @class = "form-control", @type = "number", @placeholder = "15000" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(p => p.Product.photo, "Photo")
                                    <input type="file" name="files" class="form-control" accept="image/*"/>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(p => p.Product.description, "Description")
                                    @Html.TextAreaFor(p => p.Product.description, new { @class = "form-control", @rows = 5, @placeholder = "Write Product's Description Here..." })
                                </div>
                            </div>

                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Message
                                </div>
                            }

                        <div class="row" style="justify-content: flex-end;">
                            <a href="@Url.Action("Index", "Products")">
                                <div class="btn btn-danger" style="margin-left: 5px;margin-right: 5px;">
                                    Cancel
                                </div>
                            </a>
                            <button type="submit" class="btn btn-accent" style="margin-left: 5px;margin-right: 5px;">Submit</button>

                        </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#category').on('change', function () {
            if (this.value == "Promo")
            //.....................^.......
            {
                $("#promo").show();
            }
            else {
                $("#promo").hide();
            }
        });
    });
</script>