﻿@model Nyooy.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Details";
}
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-12 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Nyooy Product - @Model.Product.name</h3>
        </div>
    </div>
    @using (Html.BeginForm("Save", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-small mb-4 pt-3">
                    <div class="card-header border-bottom text-center">
                        <div class="mb-3 mx-auto">
                            <img class="rounded-circle" src="@Url.Content("~/images/product/" + @Model.Product.photo)" width="110">
                        </div>
                        <h4 class="mb-0">@Model.Product.name</h4>
                        <span class="text-muted d-block mb-2">@Model.Product.category</span>
                        <span class="text-success d-block mb-2">@string.Format("{0:C}", @Model.Product.price)</span>
                        <label type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                            <i class="material-icons mr-1">edit</i>Change Product Photo
                            <input type="file" name="files" style="display: none;" accept="image/*"/>
                        </label>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4">
                            <strong class="text-muted d-block mb-2">Description</strong>
                            <span>@Model.Product.description</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Product  Details</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col">
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @ViewBag.Message
                                        </div>
                                    }
                                    <!-- Normal Buttons -->
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-3">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(m => m.Product.name, "Product Name")
                                                    @Html.TextBoxFor(m => m.Product.name, new { @class = "form-control", @type = "text", @placeholder = "Nyooy's Best Product" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(m => m.Product.category, "Category")
                                                    @Html.DropDownListFor(m => m.Product.category, new SelectList(Model.Category, @Model.Product.category), "Choose...", new { @class = "form-control", @id = "category" })
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(m => m.Product.price, "Price")
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Rp.</span>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Product.price, new { @type = "number", @class = "form-control", @placeholder = "Price Product" })
                                                    </div>
                                                </div>
                                            </div>

                                            @if (@Model.Product.category == "Promo")
                                            {
                                                <div class="form-row" id="promo">
                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(m => m.Product.promo)
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">Rp.</span>
                                                            </div>
                                                            @Html.TextBoxFor(m => m.Product.promo, new { @type = "number", @class = "form-control", @placeholder = "Price Product" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-row" style="display:none;" id="promo">
                                                    <div class="form-group col-md-12">
                                                        @Html.LabelFor(m => m.Product.promo)
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">Rp.</span>
                                                            </div>
                                                            @Html.TextBoxFor(m => m.Product.promo, new { @type = "number", @class = "form-control", @placeholder = "Price Product" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(p => p.Product.description, "Description")
                                                    @Html.TextBoxFor(m => m.Product.description, new { @class = "form-control", @placeholder = "Write Product's Description Here...", @rows = 5 })
                                                </div>
                                            </div>

                                            @Html.HiddenFor(m => m.Product.id)
                                            @Html.HiddenFor(m => m.Product.is_deleted)
                                            @Html.HiddenFor(m => m.Product.id_user)
                                            @Html.HiddenFor(m => m.Product.photo)
                                            <p hidden name="files" value="@Url.Content("~/images/product/" + @Model.Product.photo)">This paragraph should be hidden.</p>

                                            <div class="row" style="justify-content: flex-end;">
                                                <button type="submit" class="btn btn-success">Save Changes</button>
                                                <a href="@Url.Action("Index", "Products")">
                                                    <div class="btn btn-white" style="margin-left: 5px;margin-right: 5px;">
                                                        Back
                                                    </div>
                                                </a>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                                    Delete
                                                </button>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete - @Model.Product.name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete this Product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <a href="@Url.Action("Delete", "Products", new { id = @Model.Product.id })">
                    <div class="btn btn-danger" style="margin-left: 5px;margin-right: 5px;">
                        Delete
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#category').on('change', function () {
            if (this.value == "Promo")
            //.....................^.......
            {
                $("#promo").show();
            }
            else {
                $("#promo").hide();
            }
        });
    });
</script>
