﻿
@{
    ViewBag.Title = "History Product";
}
<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Log History</span>
            <h3 class="page-title">History Product</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">History Product</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="form-row m-4">
                                <div class="form-group col-md-12">

                                    <table id="table_id" class="display" width="100%">
                                        <thead>
                                            <tr>
                                                <th rowspan="1">No</th>
                                                <th rowspan="1">Name User</th>
                                                <th rowspan="1">Name Product</th>
                                                <th rowspan="1">Status Product</th>
                                                <th rowspan="1">Date</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
                    
<script>
    var dataTable = $('#table_id').DataTable();

    $.ajax({
            type: 'GET',
            url: '@Url.Action("Getdata", "Products")',
            data: { get_param: 'value' },
            dataType: 'json',
            success: function (data) {
                //console.log(data);
                //console.log(data.HistoryProduct[0].update_date);
                for (var i = 0; i < data.HistoryProduct.length; i++) {

                    var dateString = data.HistoryProduct[i].update_date.substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month = currentTime.getMonth() + 1;
                    var day = currentTime.getDate();
                    var year = currentTime.getFullYear();
                    var hours = currentTime.getHours();
                    var minute = currentTime.getMinutes();
                    var second = currentTime.getSeconds();

                    if (hours < 10) {
                        hours = "0" + hours;
                    }

                    if (minute < 10) {
                        minute = "0" + minute;
                    }

                    if (second < 10) {
                        second = "0" + second;
                    }

                    var date = day + "/" + month + "/" + year + " " + hours + ":" + minute + ":" + second;
                    //alert(date);

                    for (var j = 0; j < data.Product.length; j++) {

                        if (data.Product[j].id == data.HistoryProduct[i].id_product) {
                            for (var x = 0; x < data.User.length; x++) {

                                if (data.HistoryProduct[i].id_user == data.User[x].id) {
                                    dataTable.row.add([
                                        i + 1,
                                        data.User[x].name,
                                        data.Product[j].name,
                                        data.HistoryProduct[i].status_product,
                                        date
                                    ]).draw(false);
                                }
                            }
                        }

                    }

                }

            }
    });
</script>
