﻿@model IEnumerable<Nyooy.Models.tbl_product>
@{
    ViewBag.Title = "Products";
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Error
    </div>
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Manage Products</h3>
        </div>
        <div class="col-12 col-sm-8 text-right text-sm-right mb-0" style="padding-top: 12px">
            <a href="@Url.Action("Create", "Products")">
                <div class="btn btn-accent">Add New Product</div>
            </a>
        </div>
    </div>
    <div class="row">
        @if (@Model.Count() == 0)
        {
            <div class="col-lg-12 mb-4">
                <div class="card card-small mb-3">
                    <div class="card-body" style="text-align: center;">
                        <h6 class="m-0"><strong>No Product Data, Please Add New Data First</strong></h6>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                var id = Convert.ToString(item.id);

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card card-small card-post h-100">
                        <a href="@Url.Action("Details", "Products", new { url = EncryptDecrypt.Base64Encode(id) })">
                            <div class="card-post__image" style="text-align: right;background-image: url('@Url.Content("~/images/product/" + @item.photo)');">
                                @if (@item.category != "Promo")
                                {
                                    <label class="card-post__category badge badge-pill badge-warning" style="color: #000000">@item.category</label>
                                }
                                else
                                {
                                    <label class="card-post__category badge badge-pill badge-danger">@item.category</label>
                                }

                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-fiord-blue" href="@Url.Action("Details", "Products", new { url = EncryptDecrypt.Base64Encode(id) })">@item.name</a>
                            </h5>
                            @if (item.description.Length > 100)
                            {
                                <p class="card-text">@item.description.Substring(0, 99) ...</p>
                            }
                            else
                            {
                                <p class="card-text">@item.description</p>
                            }

                        </div>
                        @if (@item.promo == 0 || @item.promo == null)
                        {
                            <div class="card-footer text-muted border-top py-3">
                                <span class="d-inline-block">
                                    <a class="text-fiord-blue" href="#">@string.Format("{0:C}", @item.price)</a>
                                    <a class="text-fiord-blue" href="#"></a>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="card-footer text-muted border-top py-3">
                                <span class="d-inline-block">
                                    Promo
                                    <a class="text-fiord-blue" href="#">@string.Format("{0:C}", @item.promo)</a>
                                    <a class="text-fiord-blue" href="#"></a>
                                </span>
                            </div>
                        }

                    </div>
                </div>
            }
        }

    </div>
</div>
