﻿
@{
    ViewBag.Title = "Activation";
}

@*<div>
        <h1>@ViewBag.Message</h1>
    </div>*@

<!---->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
    <tr>
        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
            <h2 style="margin: 0; text-align:center;">@ViewBag.Message</h2>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="left">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="border-radius: 3px;" bgcolor="#FFA73B"><a href="/login" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #FFA73B; display: inline-block;">Back To Login</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr> <!-- COPY -->
</table>