﻿@model Nyooy.Models.tbl_user
@{
    /**/

    ViewBag.Title = "Login";
}

<div class="card-header border-bottom" style="text-align: center;">
    <h6 class="m-0">Login</h6>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item p-3">
        <div class="row">
            <div class="col">
                @using (Html.BeginForm("CheckLogin", "Login"))
                {
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.email, "Email")
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "email", @placeholder = "Andi@example.com" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.password, "Password")
                            @Html.TextBoxFor(m => m.password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                        </div>
                    </div>

                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>@ViewBag.Message</strong>
                        </div>
                    }

                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-accent">Login</button>
                    </div>
                    <div style="text-align: center; margin-top: 10px;">
                        <a href="@Url.Content("~/register")">Don't have an account?</a>
                    </div>
                }

            </div>
        </div>
    </li>
</ul>