﻿@model Nyooy.Models.tbl_user
@{
    ViewBag.Title = "Register";
}
<div class="card-header border-bottom" style="text-align: center;">
    <h6 class="m-0">Register</h6>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item p-3">
        <div class="row">
            <div class="col">

                @using (Html.BeginForm("Create", "Login"))
                {

                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @if (true)
                            {

                            }
                            @ViewBag.Message
                        </div>
                    }

                    if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Success
                        </div>
                    }

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.name)
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @type = "text", @placeholder = "Andi" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.no_hp)
                            @Html.TextBoxFor(m => m.no_hp, new { @class = "form-control", @type = "number", @placeholder = "087616606xxx" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.dob)
                            @Html.TextBoxFor(m => m.dob, new { @class = "form-control", @type = "date" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.address)
                            @Html.TextAreaFor(m => m.address, new { @class = "form-control", @type = "text", @placeholder = "Jl.Example No.64" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.email)
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "email", @placeholder = "Andi@example.com" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.password)
                            @Html.TextBoxFor(m => m.password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.confirmPassword)
                            @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Confirm Password" })
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-accent">Register</button>
                    </div>

                    <div style="text-align: center; margin-top: 10px;">
                        @Html.ActionLink("Having Account?", "Login", "Login")
                    </div>

                }


            </div>
        </div>
    </li>
</ul>