﻿
@{
    Layout = "";
}

<html>
<head>
    <title>Success Registration</title>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <link rel="icon" href="@Url.Content("~/images/nyooy-logo.png")" type="image">
    <link href='~/Content/main/css/bootstrap.min.css' rel='stylesheet' />
    <link href='~/Content/main/css/pe-icon-7-stroke.css' rel='stylesheet' />
    <link href='~/Content/main/css/rotating-card.css' rel='stylesheet' />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'>

    <script src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js'></script>
    <style>
        body {
            margin-top: 100px;
        }

        .navbar-default .navbar-nav > li > a {
            padding: 15px 15px;
            margin: 5px 0;
        }

        .navbar-default {
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.95);
            border-color: transparent;
            box-shadow: 0 0px 13px rgba(0,0,0,.2);
        }

        .btn-info,
        .btn-info:hover,
        .btn-info:focus {
            color: #FFF !important;
            background-color: #00bbff !important;
            border-color: #00bbff !important;
        }

        .btn-info {
            opacity: .8;
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
        }

            .btn-info:hover,
            .btn-info:focus {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='card-container manual-flip'>
                <div class='card'>
                    <div class='front'>
                        <div class='cover'>
                            <img src='https://www.sheknows.com/wp-content/uploads/2020/06/best-picnic-food-cover-amazon.jpg' />
                        </div>
                        <div class='user'>
                            <img class='img-circle' src='https://www.pngitem.com/pimgs/m/143-1434766_icon-success-hd-png-download.png' />
                        </div>
                        <div class='content'>
                            <div class='main'>
                                @if (ViewBag.Name != null)
                                {
                                    <h3 class='name' style='font-size:3rem; margin-bottom:3vh'>@ViewBag.Name</h3>
                                    <p class='profession'>Successful Registration, Please Confirm Your Email</p>
                                }
                                else
                                {
                                    <h3 class='name' style='font-size:3rem; margin-bottom:3vh'>Please Registration First!</h3>
                                    <p class='profession'>You Still Don't Register</p>
                                }
                                <div class='col text-center'>
                                    <a href='/login' class='btn btn-success btn-lg'>
                                        Go Back To Login
                                    </a>
                                </div>
                            </div>
                            @*<div class='footer'>
                                <button class='btn btn-simple' onclick='rotateCard(this)'>
                                    <i class='fa fa-mail-forward'></i> Click Here To Rotate
                                </button>
                            </div>*@
                        </div>
                    </div>
                    <div class='back'>
                        <div class='header'>
                            <h5 class='motto'>'Thank You For Register'</h5>
                        </div>
                        <div class='content'>
                            <div class='main' style='margin-top:5vw;'>
                                <h1 class='text-center'>You Will Direct In</h1>
                                <h4 class='text-center' id='seconds'>10</h4>
                            </div>
                        </div>
                        <div class='footer'>
                            <button class='btn btn-simple' rel='tooltip' title='Flip Card' onclick='rotateCard(this)'>
                                <i class='fa fa-reply'></i> Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='space-200'></div>
    </div>
</body>
</html>

<script src='~/Content/main/js/jquery-1.10.2.js' type='text/javascript'></script>

<script src='~/Content/main/js/bootstrap.min.js' type='text/javascript'></script>

<script type='text/javascript'>
    $().ready(function () {
        $('[rel="tooltip"]').tooltip();

        $('a.scroll-down').click(function (e) {
            e.preventDefault();
            scroll_target = $(this).data('href');
            $('html, body').animate({
                scrollTop: $(scroll_target).offset().top - 60
            }, 1000);
        });

    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }

    var seconds = 10;
    var foo;

    function redirect() {
        document.location.href = '/login';
    }

    function updateSecs() {
        document.getElementById('seconds').innerHTML = seconds;
        seconds--;
        if (seconds == -1) {
            clearInterval(foo);
            redirect();
        }
    }

    function countdownTimer() {
        foo = setInterval(function () {
            updateSecs()
        }, 1000);
    }

    //countdownTimer();


</script>


