﻿@model Nyooy.Models.tbl_courier
@{
    ViewBag.Title = "Courier";
}

<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Courier</span>
            <h3 class="page-title">Order Need to Deliver</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Orders</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-3">
                                <div class="form-row m-4">
                                    <div class="form-group col-md-12">

                                        <table id="table_id" class="display" width="100%">
                                            <thead>
                                                <tr>
                                                    <th rowspan="1">Order No</th>
                                                    <th rowspan="1">Customer Name</th>
                                                    <th rowspan="1">Address</th>
                                                    <th rowspan="1">Status</th>
                                                    <th rowspan="1">Delivery Order Date</th>
                                                    <th>Action</th>
                                                    @*Button Save Done *@
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </li>
                        </ul>

                        <script>
        var x = document.getElementById("map");
        var lat;
        var long;
        var loc = "";
        var interval;
        var order_id;

        //top track

        var dataTable = $('#table_id').DataTable({
            columnDefs: [{
                targets: [5],
                orderable: false,
                searchable: false
            }]
        });

        $.ajax({
            type: 'GET',
            url: '@Url.Action("Getdata", "Courier")',
            data: { get_param: 'value' },
            dataType: 'json',
            success: function (data) {
                //console.log(data);
                //console.log(data.Order);

                for (var i = 0; i < data.Order.length; i++) {
                    //console.log(i + 1);

                    for (var j = 0; j < data.User.length; j++) {
                        if (data.Order[i].id_user == data.User[j].id) {
                            //console.log(data.Order[i].id_user);
                            //console.log(data.User[j].id);

                            //var date = data.Order[i].order_date;

                            var dateString = data.Order[i].order_date.substr(6);
                            var currentTime = new Date(parseInt(dateString));
                            var month = currentTime.getMonth() + 1;
                            var day = currentTime.getDate();
                            var year = currentTime.getFullYear();
                            var date = day + "/" + month + "/" + year;
                            //alert(date);

                            dataTable.row.add([

                                data.Order[i].id,
                                data.User[j].name,
                                data.Order[i].delivery_address,
                                data.Order[i].order_status,
                                date,
                                "<div class= \"form - group col - md - 2\" > " +
                                    "<a href=\"/Courier/SendOrder?id_order=" + data.Order[i].id + "\" class=\"btn btn-accent\" itemid= " + data.Order[i].id + " id=" + data.Order[i].id + ">Send</a>" +
                                "</div >",
                            ]).draw(false);

                            break;
                        }
                    }

                }

            }
        });

                        </script>

                </div>
            </div>
        </div>
    </div>
</div>



