﻿@*@model Nyooy.Models.tbl_courier*@
@model Nyooy.ViewModels.DetailCourier
@{
    ViewBag.Title = "SendOrder";
}
<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>


<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-12 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Detail Delivery</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-small mb-4 pt-3">
                <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                        @*<img class="rounded-circle" src="@Url.Content("~/images/product/" + @Model.Product.photo)" width="110">*@
                    </div>
                    <h4 class="mb-0">@Model.Delivery.name</h4>
                    <span class="text-muted d-block mb-2">@Model.Delivery.no_hp.ToString()</span>
                    <span class="text-success d-block mb-2">@Model.Delivery.delivery_address</span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-4">
                        <strong class="text-muted d-block mb-2">Description Order</strong>
                        <ul>
                            @foreach (var item in Model.Product)
                            {
                                <li><span>@item.product_name x @item.qty Item</span></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Tracking Delivery Order</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.Message
                                    </div>
                                }

                                <!--Table-->
                                @using (Html.BeginForm("Check", "Courier"))
                                {
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item p-3">
                                            <div class="form-row m-4">
                                                <div class="form-group col-md-12">

                                                    <table id="table_id" class="display" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="1">No</th>
                                                                <th rowspan="1">Time</th>
                                                                <th rowspan="1">Location</th>
                                                                @*Button Save Done *@
                                                            </tr>
                                                        </thead>
                                                        <tfoot class="p-4">
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td>
                                                                    <div class="p-3" style="display:inline-block">
                                                                        <button onclick="start()" class="btn btn-accent pl-lg-5 pr-lg-5 mr--10" id="@Model.Courier.id_order">Start</button>
                                                                        <button onclick="done(this)" type="submit" class="btn btn-accent pl-lg-5 pr-lg-5 ml--10">Done</button>
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>

                                            <div class="form-row" style="display: none;">
                                                <div class="form-group col-md-5">
                                                    @Html.TextBoxFor(c => c.Courier.lat, new { @id = "lat", @readonly = "readonly", @class = "form-control", @rows = 5, @placeholder = "Your Latitude" })
                                                </div>
                                                <div class="form-group col-md-5">
                                                    @Html.TextBoxFor(c => c.Courier.@long, new { @id = "long", @readonly = "readonly", @class = "form-control", @rows = 5, @placeholder = "Your Longitude" })
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <div onclick="start()" class="btn btn-accent">Get Current Location</div>
                                                </div>
                                            </div>

                                            <div class="form-row" style="display: none;">
                                                <div class="form-group col-md-12">
                                                    @Html.TextBoxFor(c => c.Courier.location, new { @id = "location", @readonly = "readonly", @class = "form-control", @rows = 5, @placeholder = "Your Location" })
                                                </div>
                                            </div>

                                            <div class="form-row" style="display: none;">
                                                <div class="form-group col-md-12">
                                                    @Html.TextBoxFor(c => c.Courier.id_order, new { @id = "order_id", @readonly = "readonly", @class = "form-control", @rows = 5, @placeholder = "Your Location" })
                                                </div>
                                            </div>

                                            @*<div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <button type="submit" class="btn btn-accent">Save</button>
                                                    </div>
                                                </div>*@
                                        </li>
                                    </ul>

                                    <p id="map"></p>

                                    //Text Toast
                                    <div id="snackbar">Dont Close Your Page Until You Click DONE!</div>


                                    //Table



                            <script>

                        var x = document.getElementById("map");
                        var lat;
                        var long;
                        var loc = "";
                        var interval;
                        var order_id = @Model.Courier.id_order;
                        //alert(@Model.Courier.id_order);


                        //top track

                        var dataTable = $('#table_id').DataTable({
                            "searching": false,
                            //"ordering": false,
                            "aaSorting": [[0, "desc"]]
                        });

                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("Getdata", "Courier")',
                            data: { get_param: 'value' },
                            dataType: 'json',
                            success: function (data) {
                                //console.log(data);
                                //console.log(data.Order);
                                var index = 1;

                                for (var i = 0; i < data.Courier.length; i++) {

                                    console.log(data.Courier[i]);
                                    //console.log(data.User[j].id);

                                    //var date = data.Order[i].order_date;

                                    var dateString = data.Courier[i].delivery_date.substr(6);
                                    var currentTime = new Date(parseInt(dateString));
                                    var month = currentTime.getMonth() + 1;
                                    var day = currentTime.getDate();
                                    var year = currentTime.getFullYear();
                                    var date = day + "/" + month + "/" + year;
                                    //alert(date);

                                    var hours = currentTime.getHours();

                                    if (hours < 10) {
                                        hours = "0" + hours;
                                    }

                                    var minutes = currentTime.getMinutes();

                                    if (minutes < 10) {
                                        minutes = "0" + minutes;
                                    }

                                    var localTime = hours + ":" + minutes;

                                    if (data.Courier[i].id_order == @Model.Courier.id_order) {
                                        dataTable.row.add([
                                            index,
                                            localTime,
                                            data.Courier[i].location,
                                        ]).draw(false);

                                        index++;
                                    }

                                }

                            }
                        });

                        //track
                        function getLocation() {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(showPosition, showError);
                            } else {
                                x.innerHTML = "Geolocation is not supported by this browser.";
                            }
                        }

                        var index = 1;

                        function showPosition(position) {
                            //x.innerHTML = "Latitude: " + position.coords.latitude +
                            //    "<br>Longitude: " + position.coords.longitude;

                            lat = position.coords.latitude;
                            long = position.coords.longitude;

                            console.log("Lat: " + lat);
                            console.log("Lng: " + long);

                            if (document.getElementById("lat").value != lat || document.getElementById("long").value != long) {

                                //document.getElementById("lat").value = lat;
                                //document.getElementById("long").value = long;
                                //console.log(lat + ',' + long);
                                addressLocation(lat, long);

                                //SaveEventInfo(lat, long, )

                            } else {
                                //document.getElementById("location").value = "Your Location Still Same";
                                console.log("Location: " + document.getElementById("location").value);
                            }

                            //addressLocation(lat, long);

                            console.log("Reload : " + index + "x");
                            index++;

                        }

                        function showError(error) {
                            var errorMsg = "";
                            switch (error.code) {
                                case error.PERMISSION_DENIED:
                                    //x.innerHTML = "User denied the request for Geolocation."
                                    errorMsg = "User denied the request for Geolocation.";
                                    alert(errorMsg);
                                    break;
                                case error.POSITION_UNAVAILABLE:
                                    //x.innerHTML = "Location information is unavailable."
                                    errorMsg = "Location information is unavailable.";
                                    alert(errorMsg);
                                    break;
                                case error.TIMEOUT:
                                    //x.innerHTML = "The request to get user location timed out."
                                    errorMsg = "The request to get user location timed out.";
                                    alert(errorMsg);
                                    break;
                                case error.UNKNOWN_ERROR:
                                    //x.innerHTML = "An unknown error occurred."
                                    errorMsg = "An unknown error occurred.";
                                    alert(errorMsg);
                                    break;
                            }
                        }

                        function addressLocation(lat, long) {

                            //var url = 'https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=' + lat + '&longitude=' + long + '&localityLanguage=id';
                            var url = 'https://dev.virtualearth.net/REST/v1/Locations/' + lat + ',' + long + '?key=Ai9-KNy6Al-r_ueyLuLXFYB_GlPl-c-_iYtu16byW86qBx9uGbsdJpwvrP4ZUdgD';

                            $.ajax({
                                type: 'GET',
                                url: url,
                                data: { get_param: 'value' },
                                dataType: 'json',
                                success: function (data) {
                                    //console.log(data);

                                    //var city = data.city;
                                    //var localCity = data.locality;
                                    //var kec = "Kec " + data.localityInfo.administrative[3].name;
                                    //var kab = "Kab " + data.localityInfo.administrative[4].name;

                                    loc = data.resourceSets[0].resources[0].address.formattedAddress;

                                    document.getElementById("lat").value = lat;
                                    document.getElementById("long").value = long;
                                    //document.getElementById("location").value = city + ", " + localCity + ", " + kec + ", " + kab;
                                    document.getElementById("location").value = loc;
                                    document.getElementById("order_id").value = order_id;
                                    //loc = city + ", " + localCity + ", " + kec + ", " + kab;

                                    addData(lat, long, loc, order_id);

                                    console.log("Location: " + document.getElementById("location").value);
                                }
                            });
                        }

                        //setInterval(ajaxCall, 5000); //300000 MS == 5 minutes

                        function start() {
                            //order_id = $(item).attr('itemid');
                            //var id = $(item).attr('id');

                            $('#' + order_id).attr('disabled', true);
                            //console.log(id);

                            getLocation();
                            interval = setInterval(ajaxCall, @ViewBag.Time); //300000 MS == 5 minutes

                            setInterval(Reload, @ViewBag.Time);

                            var x = document.getElementById("snackbar");
                            x.className = "show";
                            //setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

                        }

                        function done() {
                            getLocation();
                            clearInterval(interval);
                        }

                        function ajaxCall() {
                            //do your AJAX stuff here
                            getLocation();
                        }

                        function addData(latitude, longitude, location, id) {
                            //console.log(id);
                            //var data = '{​​ lat: "' + latitude + '", lng:"' + longitude + '", location:"' + location + '" }​​';
                            var data = { "lat": latitude, "long": longitude, "location": location, "id_order": id };

                            //if (document.getElementById("lat").value != lat || document.getElementById("long").value != long) {
                                $.ajax(
                                    {
                                        type: "POST", //HTTP POST Method
                                        url: '@Url.Action("Track", "Courier")', // Controller/View
                                        data: JSON.stringify(data),
                                        dataType: 'json',
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            //alert("Success");
                                            //alert(data);
                                            //console.log(data);
                                        },
                                        error: function () {
                                            alert("error");
                                        }

                                    });
                            //}

                        }


                        function Reload(){
                            dataTable.clear();

                            $.ajax({
                            type: 'GET',
                            url: '@Url.Action("Getdata", "Courier")',
                            data: { get_param: 'value' },
                            dataType: 'json',
                            success: function (data) {
                                //console.log(data);
                                //console.log(data.Order);

                                var index = 1;

                                for (var i = 0; i < data.Courier.length; i++) {

                                    console.log(data.Courier[i]);
                                    //console.log(data.User[j].id);

                                    //var date = data.Order[i].order_date;

                                    var dateString = data.Courier[i].delivery_date.substr(6);
                                    var currentTime = new Date(parseInt(dateString));
                                    var month = currentTime.getMonth() + 1;
                                    var day = currentTime.getDate();
                                    var year = currentTime.getFullYear();
                                    var date = day + "/" + month + "/" + year;
                                    //alert(date);

                                    var hours = currentTime.getHours();

                                    if (hours < 10) {
                                        hours = "0" + hours;
                                    }

                                    var minutes = currentTime.getMinutes();

                                    if (minutes < 10) {
                                        minutes = "0" + minutes;
                                    }

                                    var localTime = hours + ":" + minutes;

                                    if (data.Courier[i].id_order == @Model.Courier.id_order) {
                                        dataTable.row.add([
                                            index,
                                            localTime,
                                            data.Courier[i].location,
                                        ]).draw(false);

                                        index++;
                                    }

                                }

                            }
                        });
                        }


                        @*function SaveEventInfo(lat, lng, location) {

                            var data = '{​​ lat: "' + lat + '", lng:"' + lng + '", location:"' + location + '" }​​';

                             $.ajax({
                                 type: 'POST',
                                 async: true,
                                 data: data,
                                 dataType: 'json',
                                 contentType: 'application/json; charset=Utf-8',
                                 url: '@Url.Action("Track", "Courier")',
                                 success: function (data) {
                                     if (data.Success) {

                                         alert('Event Information Successfully Saved!');

                                         eventInformation();

                                     }
                                 }​​,
                                 error: function () {
                                    alert("There is some problem.");
                                 }
                             }​​);

                        }*@

                            </script>
                                }

                            </div>
                        </div>

            </div>
        </div>
        </li>
        </ul>
    </div>
</div>
        </div>
</div>


@*Test*@



