﻿
@{
    ViewBag.Title = "TrackOrder";
}

<ul class="list-group list-group-flush">
    <li class="list-group-item p-3">

        <div class="card-header border-bottom">
            <h6 class="m-0">Table History Courier</h6>
        </div>

        <div class="form-row m-4">
            <div class="form-group col-md-12">

                <table id="table_id" class="display" width="100%">
                    <thead>
                        <tr>
                            <th rowspan="1">No</th>
                            <th rowspan="1">Name Courier</th>
                            <th rowspan="1">Order Id</th>
                            <th rowspan="1">Lat</th>
                            <th rowspan="1">Long</th>
                            <th rowspan="1">Location</th>
                            <th rowspan="1">Date Time</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </li>
</ul>

<script>
    var dataTable = $('#table_id').DataTable();

     $.ajax({
            type: 'GET',
            url: '@Url.Action("GetdataTrack", "Courier")',
            data: { get_param: 'value' },
            dataType: 'json',
            success: function (data) {
                //console.log(data);
                ////console.log(data.HistoryProduct[0].update_date);
                for (var i = 0; i < data.Courier.length; i++) {

                    var dateString = data.Courier[i].delivery_date.substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month = currentTime.getMonth() + 1;
                    var day = currentTime.getDate();
                    var year = currentTime.getFullYear();
                    var hours = currentTime.getHours();
                    var minute = currentTime.getMinutes();
                    var second = currentTime.getSeconds();

                    if (hours < 10) {
                        hours = "0" + hours;
                    }

                    if (minute < 10) {
                        minute = "0" + minute;
                    }

                    if (second < 10) {
                        second = "0" + second;
                    }

                    var date = day + "/" + month + "/" + year + " " + hours + ":" + minute + ":" + second;
                    //alert(date);

                    for (var j = 0; j < data.Order.length; j++) {

                        if (data.Order[j].id == data.Courier[i].id_order) {
                            for (var x = 0; x < data.User.length; x++) {

                                if (data.Order[j].id_courier == data.User[x].id) {
                                    dataTable.row.add([
                                        i + 1,
                                        data.User[x].name,
                                        data.Order[j].id,
                                        data.Courier[i].lat,
                                        data.Courier[i].long,
                                        data.Courier[i].location,
                                        date
                                    ]).draw(false);
                                }
                            }
                        }

                    }

                }

            }
     });

    function Reload() {

        dataTable.clear();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetdataTrack", "Courier")',
            data: { get_param: 'value' },
            dataType: 'json',
            success: function (data) {
                //console.log(data);
                ////console.log(data.HistoryProduct[0].update_date);
                for (var i = 0; i < data.Courier.length; i++) {

                    var dateString = data.Courier[i].delivery_date.substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month = currentTime.getMonth() + 1;
                    var day = currentTime.getDate();
                    var year = currentTime.getFullYear();
                    var hours = currentTime.getHours();
                    var minute = currentTime.getMinutes();
                    var second = currentTime.getSeconds();

                    if (hours < 10) {
                        hours = "0" + hours;
                    }

                    if (minute < 10) {
                        minute = "0" + minute;
                    }

                    if (second < 10) {
                        second = "0" + second;
                    }

                    var date = day + "/" + month + "/" + year + " " + hours + ":" + minute + ":" + second;
                    //alert(date);

                    for (var j = 0; j < data.Order.length; j++) {

                        if (data.Order[j].id == data.Courier[i].id_order) {
                            for (var x = 0; x < data.User.length; x++) {

                                if (data.Order[j].id_courier == data.User[x].id) {
                                    dataTable.row.add([
                                        i + 1,
                                        data.User[x].name,
                                        data.Order[j].id,
                                        data.Courier[i].lat,
                                        data.Courier[i].long,
                                        data.Courier[i].location,
                                        date
                                    ]).draw(false);
                                }
                            }
                        }

                    }

                }

            }
        });
    }

    interval = setInterval(Reload, 10000);

</script>
