﻿
@{
    /**/

    ViewBag.Title = "Cart";
}

<section class="food__special__offer bg--white section-padding--sm">
    <div class="container">
        @if (Session["OrderType"] == "Event")
        {
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Order</h2>
                        <p>Type: Event</p>
                        <a class="food__btn" style="margin-top: 10px; height:35px; line-height:35px;" href="@Url.Action("Personal", "Order")">Change to Personal Order</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-12">
                    <div class="contact__form__wrap">
                        <h2 style="margin-bottom: 20px;">Event Information</h2>
                        <div class="contact__form__inner">
                            <div class="single-contact-form">
                                <div class="contact-box name">
                                    <input type="text" class="col-lg-4 col-sm-12" style="margin-top: 5px;" id="eventName" placeholder="Event Name">
                                    <input type="text" style="margin-top: 5px;" class="col-lg-4 col-sm-12" id="eventOrganizer" placeholder="Organizer">
                                    <input type="submit" style="margin-top: 5px;" class="food__btn text-white col-lg-2 col-md-4 col-sm-4" onclick="SaveEventInfo()" value="Save">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Order</h2>
                        <p>Type: Personal</p>
                        <a class="food__btn" style="margin-top: 10px; height:35px; line-height:35px;" href="@Url.Action("Event", "Order")">Change to Event Order</a>
                    </div>
                </div>
            </div>
        }

        <div class="row" style="margin-top:30px">
            <div class="col-lg-12 col-md-12">
                <div class="section__title service__align--center">
                    <p>Cart Detail</p>
                </div>
            </div>
        </div>

        <div id="empty-cart-detail">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="service__align--center" style="text-align: center; padding-top: 25px">
                        <div>
                            <img src="@Url.Content("~/images/empty-cart.png")" style="width: 100px; height: 100px">
                        </div>
                        <div style="margin-top: 10px;">
                            <h4 style="margin-bottom:20px;">Empty Cart</h4>
                            <a class="food__btn" href="@Url.Action("Index", "Menu")">Add Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cart-detail-list">
            <div class="row mt--40">
                @if (ViewBag.Error != null)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @ViewBag.Error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }
                <div class="col-md-12 col-sm-12 ol-lg-12">
                    <div style="justify-content: flex-end;">
                        <a class="food__btn text-white" style="height:35px; line-height:35px; padding:0 10px;" href="@Url.Action("Index", "Menu")">Add Menu</a>
                    </div>
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr class="title-top">
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="cart-table"></tbody>
                            </table>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="cartbox__total__area">
                        <div class="cart__total__amount">
                            <span>Total</span>
                            <span id="total-cart-detail"></span>
                        </div>
                    </div>
                    <div class="cartbox__buttons">
                        <a class="food__btn" href="@Url.Action("Checkout", "Order")"><span>Checkout</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
        jQuery(document).ready(function () {
            loadCartList();
            eventInformation();
        });

        function eventInformation() {
            var options = {
                type: "POST",
                url: '@Url.Action("EventInformation", "Order")',
                async: true,
                cache: false,
                dataType: "json",
                contentType: "application/json; charset-utf-8",
                success: function (response) {
                    if (response != null) {
                        document.getElementById("eventName").value = response.eventName;
                        document.getElementById("eventOrganizer").value = response.eventOrganizer;
                    } else {
                        document.getElementById("eventName").innerHTML = '';
                        document.getElementById("eventOrganizer").innerHTML = '';
                    }
                }
            };
            $.ajax(options);
        }

        function SaveEventInfo() {
            var eventName = document.getElementById("eventName").value;;
            var eventOrganizer = document.getElementById("eventOrganizer").value;
            var data = '{ eventName: "' + eventName + '", eventOrganizer:"' + eventOrganizer + '" }';
            $.ajax({
                type: 'POST',
                async: true,
                data: data,
                dataType: 'json',
                contentType: 'application/json; charset=Utf-8',
                url: '@Url.Action("SaveEventInformation", "Order")',
                success: function (data) {
                    if (data.Success) {
                        alert('Event Information Successfully Saved!');
                        eventInformation();
                    }
                },
                error: function () {
                    alert("There is some problem.");
                }
            });
        }

        function loadCartList() {
            var options = {
                type: "POST",
                url: '@Url.Action("CartList", "Order")',
                async: true,
                cache: false,
                dataType: "json",
                contentType: "application/json; charset-utf-8",
                success: function (response) {
                    if (response != null) {
                        $("#cart-detail-list").show();
                        $("#empty-cart-detail").hide();
                        var html = '';
                        var total = 0;
                        $.each(response, function (i, item) {
                            html += '<tr> <td class="product-thumbnail"><a href="#"><img src="@Url.Content("~/Images/product/")' + item.photo + '" alt="product img" /></a></td> <td class="product-name"><a href="#">' + item.name + '</a></td> <td class="product-price"><span class="amount">' + item.price + '</span></td> <td class="product-quantity"><input type="number" min="1" itemid="' + item.id_product + '" onchange="changeQuantity(this)" value="' + item.qty + '" /></td> <td class="product-subtotal">' + item.total_price + '</td> <td class="product-remove"><a itemid="' + item.id_product + '" onclick="RemoveFromCartDetail(this)">X</a></td> </tr>';
                            total += item.total_price;
                        });
                        document.getElementById("cart-table").innerHTML = "";
                        $("#cart-table").append(html);
                        document.getElementById("total-cart-detail").innerHTML = "Rp"+total;
                    } else {
                        $("#empty-cart-detail").show();
                        $("#cart-detail-list").hide();
                    }
                }
            };
            $.ajax(options);
        };

    function changeQuantity(item) {
        var itemId = $(item).attr("itemid");
        var quantity = item.value;
        var data = '{ itemid: "'+itemId+'", qty:"'+ quantity +'" }';
        $.ajax({
            type: 'POST',
            async: true,
            data: data,
            dataType: 'json',
            contentType: 'application/json; charset=Utf-8',
            url: '@Url.Action("UpdateQtyCart", "Order")',
            success: function (data) {
                if (data.Success) {
                    loadCartList();
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    };

    function RemoveFromCartDetail(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);
        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '@Url.Action("RemoveFromCart", "Order")',
            success: function (data) {
                if (data.Success) {
                    if (data.Counter != 0) {
                        $("#cartCount").text(data.Counter);
                        $("#cartItem").addClass("shop__qun");
                    } else {
                        $("#cartCount").empty();
                        $("#cartItem").removeClass("shop__qun");
                    }
                    loadCartList();
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });

    };

</script>







