﻿@{
    ViewBag.Title = "Checkout";
}

<section class="htc__checkout bg--white section-padding--lg">
    <!-- Checkout Section Start-->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Checkout</h2>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("SaveOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="row mt--60">
                @if (ViewBag.Error != null)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @ViewBag.Error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }

                <!-- Order Details -->
                <div class="col-lg-6 col-12 mb-30">

                    <div class="order-details-wrapper">
                        <h2>your order</h2>
                        <div class="order-details">

                            <ul>
                                <li><p class="strong">product</p><p class="strong">total</p></li>
                                @foreach (var item in ViewBag.CartItem)
                                {
                                    <li><p>@item.name x @item.qty</p><p>@string.Format("{0:C}", item.total_price)</p></li>

                                }
                                <li><p class="strong">order subtotal</p><p class="strong">@string.Format("{0:C}", ViewBag.TotalPrice)</p></li>
                                @if (Session["OrderType"].ToString() == "Personal")
                                {
                                    <li><p class="strong">delivery fee</p><p class="strong" id="delivery-fee"></p></li>
                                    <li><p class="strong">order total</p><p class="strong" id="total-order"></p></li>
                                    <input type="hidden" name="delivery_fee" id="delivery_fee" value="" />
                                }
                                else
                                {
                                    <li><p class="strong">delivery fee</p><p class="strong">Rp0</p></li>
                                    <li><p class="strong">order total</p><p class="strong">@string.Format("{0:C}", ViewBag.TotalPrice)</p></li>
                                    <input type="hidden" name="delivery_fee" id="delivery_fee" value="0" />
                                }
                                <li>
                                    <p class="strong">Note</p>
                                    <textarea class="col-12" style="margin-top: 10px;" rows="6" name="order_note"></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-12 mb-30">

                    <!-- Checkout Accordion Start -->
                    <div id="checkout-accordion">

                        <!-- Checkout Information -->
                        <div class="single-accordion">
                            <a class="accordion-head text-white" data-toggle="" data-parent="#checkout-accordion">1. billing information</a>
                            <div id="checkout-method" class="">
                                <div class="checkout-method accordion-body fix">
                                    <h5 style="color: #333"><strong>Name</strong></h5>
                                    <p style="color: #333">@Session["name"].ToString()</p>
                                    <h5 style="color: #333"><strong>Phone</strong></h5>
                                    <p style="color: #333">@Session["phone"].ToString()</p>
                                    <h5 style="color: #333"><strong>Order Type</strong></h5>
                                    <p style="color: #333">@Session["OrderType"].ToString()</p>

                                    @if (@Session["OrderType"].ToString() == "Event")
                                    {
                                        <h5 style="color: #333"><strong>Event Name</strong></h5>
                                        if (Session["EventName"] == null)
                                        {
                                            <p style="color: #333">-</p>
                                        }
                                        else
                                        {
                                            <p style="color: #333">@Session["EventName"].ToString()</p>
                                        }
                                        <h5 style="color: #333"><strong>Event Organizer</strong></h5>
                                        if (Session["EventOrganizer"] == null)
                                        {
                                            <p style="color: #333">-</p>
                                        }
                                        else
                                        {
                                            <p style="color: #333">@Session["EventOrganizer"].ToString()</p>
                                        }
                                    }
                                </div>
                            </div>

                        </div>

                        <!-- Shipping Method -->
                        <div class="single-accordion">
                            <a class="accordion-head text-white" data-toggle="" data-parent="#checkout-accordion">2. delivery information</a>
                            <div id="shipping-method" class="">
                                <div class="accordion-body shipping-method fix">

                                    <div style="margin-bottom:10px;">
                                        <h4 style="color: #333"><strong>Shipping address</strong></h4>
                                        <p style="color: #333">@Session["address"]</p>
                                    </div>
                                    <div style="color: #333" class="shipping-form-toggle">Ship to a different address?</div>
                                    <div class="shipping-form checkout-form">
                                        <div class="row">
                                            <div class="col-md-12 col-12 mb--20">
                                                <input type="text" onchange="getLatLongFromInput(this)" placeholder="Address" id="delivery_address" name="delivery_address">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Payment Method -->
                        <div class="single-accordion">
                            <a class="accordion-head text-white" data-toggle="" data-parent="#checkout-accordion">3. Payment method</a>
                            <div id="payment-method" class="">
                                <div class="accordion-body payment-method fix">
                                    <div style="color: #333">
                                        <div class="col-12">
                                            @Html.RadioButton("id_payment", "1", isChecked: true) @Html.Label("Transfer (Manual Check)")
                                            <div style="margin-left:10px; margin-bottom: 10px;">
                                                <p style="font-size: 14px;">Bank CBA</p>
                                                <p style="font-size: 14px;">44310101022</p>
                                                <p style="font-size: 14px;">a.n. Bian Yusriansyah</p>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            @Html.RadioButton("id_payment", "2", isChecked: false) @Html.Label("Barcode")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- Checkout Accordion Start -->
                    <div class="order-details" style="text-align:right;">
                        <input type="submit" class="food__btn" value="place order">
                    </div>
                </div>



            </div>
            }
        </div>
    </div>
    <!-- Checkout Section End-->
</section>
@if (Session["OrderType"].ToString() == "Personal")
{
    <script type="text/javascript">
    jQuery(document).ready(function () {
        getLatLong();
    });


    function getLatLong() {
        var address = "@Session["address"].ToString()";
        var alamat1 = encodeURIComponent(address.trim());
        var options = {
            type: "GET",
            url: 'https://dev.virtualearth.net/REST/v1/Locations?CountryRegion=ID&locality=Malang&addressLine='+alamat1+'&key=Ai9-KNy6Al-r_ueyLuLXFYB_GlPl-c-_iYtu16byW86qBx9uGbsdJpwvrP4ZUdgD',
            async: true,
            contentType: "application/json; charset-utf-8",
            success: function (response) {
                var latitude = (response.resourceSets[0].resources[0].geocodePoints[0].coordinates[0]);
                var longitude = (response.resourceSets[0].resources[0].geocodePoints[0].coordinates[1]);
                getDistance(latitude, longitude);
            }, error: function () {
                alert("There is some problem.");
            }
        };
        $.ajax(options);
    };

    function getLatLongFromInput(item) {
        if (item.value != null && item.value != "") {
            var addressInput = item.value;
            var alamat = encodeURIComponent(addressInput.trim());
            var options = {
                type: "GET",
                url: 'https://dev.virtualearth.net/REST/v1/Locations?CountryRegion=ID&locality=Malang&addressLine=' + alamat + '&key=Ai9-KNy6Al-r_ueyLuLXFYB_GlPl-c-_iYtu16byW86qBx9uGbsdJpwvrP4ZUdgD',
                async: true,
                contentType: "application/json; charset-utf-8",
                success: function (response) {
                    var latitude = (response.resourceSets[0].resources[0].geocodePoints[0].coordinates[0]);
                    var longitude = (response.resourceSets[0].resources[0].geocodePoints[0].coordinates[1]);
                    getDistance(latitude, longitude);
                }, error: function () {
                    alert("There is some problem.");
                }
            };
            $.ajax(options);
        } else {
            getLatLong();
        }
    };

    function getDistance(latitude, longitude) {
        var data = '{ latitude: "' + latitude + '", longitude:"' + longitude + '" }';
        $.ajax({
            type: 'POST',
            async: true,
            data: data,
            dataType: 'json',
            contentType: 'application/json; charset=Utf-8',
            url: '@Url.Action("getDistance", "Order")',
            success: function (data) {
                if (data.Success) {
                    document.getElementById("delivery-fee").innerHTML = data.deliveryFeeString;
                    var totalorder = data.deliveryFee +@ViewBag.TotalPrice;
                    document.getElementById("total-order").innerHTML = totalorder.toLocaleString('id-ID', {
                        style: 'currency',
                        currency: 'IDR',
                    });
                    document.getElementById("delivery_fee").value = data.deliveryFee;
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    };
    </script>
}
