﻿@model IEnumerable<Nyooy.ViewModels.DetailViewModel>

@{
    ViewBag.Title = "Detail";
}

<section class="htc__checkout bg--white section-padding--lg">
    <!-- Checkout Section Start-->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section__title title__style--2 service__align--center">
                        <h2 class="title__line">Order Detail - @ViewBag.Order.id</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--60">
                @if (ViewBag.Success != null)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @ViewBag.Success
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }
                @if (ViewBag.Error != null)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @ViewBag.Error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }
                <div class="col-lg-6 col-12 mb-30">
                    <div class="single-accordion">
                        <a class="accordion-head text-white" data-toggle="collapse">Order Information</a>

                        <div id="" class="show">
                            <div class="checkout-method accordion-body fix" style="color: #333">

                                <h5><strong>ID Order</strong></h5>
                                <p>@ViewBag.Order.id</p>
                                <h5><strong>Order Date</strong></h5>
                                <p>@ViewBag.Order.order_date.ToString("d MMMM yyyy")</p>
                                <h5><strong>Order Category</strong></h5>
                                <p>@ViewBag.Order.order_category</p>
                                @if (ViewBag.Order.order_category == "Event")
                                {
                                    <h5><strong>Event Name</strong></h5>
                                    <p>@ViewBag.Order.event_name</p>
                                    <h5><strong>Organizer</strong></h5>
                                    <p>@ViewBag.Order.organizer</p>
                                }
                                <h5><strong>Delivery Address</strong></h5>
                                <p>@ViewBag.Order.delivery_address</p>
                                <h5><strong>Order Status</strong></h5>
                                <p>@ViewBag.Order.order_status</p>
                                @if (@ViewBag.Order.order_status == "Need to Pay")
                                {
                                    <h5><strong>Complete Your Payment in</strong></h5>
                                    <p id="paymentCountdown" style=" font-size:36px; margin-top:10px; margin-bottom:10px;"></p>
                                    if (ViewBag.Order.id_payment == 1)
                                    {
                                        <h5><strong>Transfer to</strong></h5>
                                        <p>Bank CBA</p>
                                        <p>44310101022</p>
                                        <p>a.n. Bian Yusriansyah</p>
                                        using (Html.BeginForm("SavePaymentSlip", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <h5><strong>Upload Payment Slip</strong></h5>
                                            <input type="hidden" name="id" value="@ViewBag.Order.id" />
                                            <input type="file" name="payment_slip" class="form-control-sm col-12" accept="image/*" onchange="loadFile(event)" />
                                            <div class="row col-12" id="previewPayment" style="display:none">
                                                <img class="col-12" id="previewPaymentSlip" style="max-width:240px; max-height:240px; margin-top:10px; margin-bottom:10px;" />
                                                <a href="javascript:;" data-toggle="modal" data-target="#paymentSlipModal">Preview</a>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-accent text-white" style="background: #d50c0d">Save Payment Slip</button>
                                        }
                                    }
                                    if (ViewBag.Order.id_payment == 2)
                                    {
                                        <h5><strong>Barcode Payment</strong></h5>
                                        <div data-toggle="modal" data-target="#exampleModal">Show Barcode</div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Barcode Payment - @ViewBag.Order.id</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="qr-code" style="justify-content: center">
                                                            <img src="https://chart.googleapis.com/chart?chs=177x177&cht=qr&chl=@ViewBag.Order.id/&choe=UTF-8" />
                                                        </div>
                                                        <a style="color: #333" onclick="BarcodePayment()">Payment Simulation</a>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                @if (@ViewBag.Order.order_status == "On Delivery")
                                {
                                    <h5><strong>Tracking</strong></h5>
                                    <div id="order-tracking">

                                    </div>
                                }
                                @if (@ViewBag.Order.order_status == "Success")
                                {
                                    if (ViewBag.Review == null)
                                    {
                                        using (Html.BeginForm("Save", "Review"))
                                        {

                                            <h5><strong>Review</strong></h5>
                                            <textarea rows="5" class="col-12" type="text" name="review_desc" value=""></textarea>
                                            <input type="hidden" name="id_order" value="@ViewBag.Order.id" />

                                            <div style="text-align: right; margin-top:10px;">
                                                <button type="submit" class="food__btn btn btn-sm btn-accent">Submit</button>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <h5><strong>Review</strong></h5>
                                        <p>@ViewBag.Review.review_desc</p>
                                    }

                                }
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Order Details -->
                <div class="col-lg-6 col-12 mb-30">

                    <div class="order-details-wrapper">
                        <h2>your order</h2>
                        <div class="order-details">
                            <ul>
                                <li><p class="strong">product</p><p class="strong">total</p></li>
                                @foreach (var item in Model)
                                {
                                    <li><p>@item.name x @item.qty</p><p>@string.Format("{0:C}", @item.total_price)</p></li>
                                }
                                <li><p class="strong">subtotal</p><p class="strong">@string.Format("{0:C}", @ViewBag.sub_order)</p></li>
                                <li><p class="strong">delivery fee</p><p class="strong">@string.Format("{0:C}", @ViewBag.Order.delivery_fee)</p></li>
                                <li><p class="strong">order total</p><p class="strong">@string.Format("{0:C}", @ViewBag.total_price)</p></li>
                                <li>
                                    <p class="strong">Note</p>
                                    <textarea class="col-12" style="margin-top: 10px;" rows="6" name="order_note" disabled="true">@ViewBag.Order.order_note</textarea>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div><!-- Checkout Section End-->
</section>
<div style="margin-top: 40px;" class="modal fade" id="paymentSlipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="max-width:480px;max-height: 480px; text-align:center;">
                <img id="previewPaymentSlipModal" style="max-width: 465px; max-height:480px;">
            </div>
            <div class="modal-footer">
                <div class="btn btn-dark" data-dismiss="modal">Close</div>
            </div>
        </div>
    </div>
</div>

@if (@ViewBag.Order.order_status == "Need to Pay")
{
    <script type="text/javascript">
        // Set the date we're counting down to
        var datestring = "@ViewBag.maxOrderDate";
        var countDownDate = new Date(datestring).getTime();
        console.log(countDownDate);
        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("paymentCountdown").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";
            // If the count down is finished, write some text
            if (distance <= 0) {
                location.reload();
            }
        }, 1000);
    </script>
}

@if (@ViewBag.Order.order_status == "On Delivery")
{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            getTrackingData();
            setInterval(getTrackingData, 60000);
        });

        function getTrackingData() {
            var options = {
                url: "@Url.Action("GetTrack","Order")",
                type: 'POST',
                data: { orderId: "@ViewBag.Order.id" },
                success: function (response) {
                    if (response != null) {
                        var html = '';
                        $.each(response, function (i, item) {
                            html += '<p> - ' + item.location + '</p>';
                        });
                        $("#order-tracking").append(html);
                    }
                },
                error: function () {
                    alert("There is some problem.");
                }
            };
            $.ajax(options);
        }
    </script>
}

<script>
    function loadFile(event) {
        var output = document.getElementById('previewPaymentSlip');
        var outputModal = document.getElementById('previewPaymentSlipModal');
        output.src = URL.createObjectURL(event.target.files[0]);
        outputModal.src = URL.createObjectURL(event.target.files[0]);
        $("#previewPayment").show();
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    function BarcodePayment() {
        $.ajax({
            url: "@Url.Action("ConfirmBarcodePayment","Order")",
            type: 'POST',
            data: { orderId: "@ViewBag.Order.id" },
            success: function (response) {
                    alert('Payment Success');
                    window.location.href = '@Url.Action("Detail", "Order", new { id = @ViewBag.Order.id })';
                }
            });
    };
</script>