﻿@model IEnumerable<Nyooy.ViewModels.YourOrderViewModel>

@{
    ViewBag.Title = "Your Order";
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Error
    </div>
}
<section class="food__special__offer bg--white section-padding--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">Your Order</h2>
                </div>
            </div>
        </div>
        <div class="row mt--40">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                @if (Model.Count() == 0)
                {
                    <div class="text-center">
                        <h4 style="color:#575656">No Order Data</h4>
                        <a class="food__btn" href="@Url.Action("Cart","Order")" style="margin-top: 30px; height:35px; line-height:35px;">Order Now!</a>
                    </div>
                }
                else
                {
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Date</th>
                                    <th class="product-name">Order Type</th>
                                    <th class="product-name">Status</th>
                                    <th class="product-remove">Total</th>
                                    <th class="product-remove">Action</th>
                                </tr>
                            </thead>
                            <tbody style="color:#333">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-thumbnail">@item.order_date.Value.ToString("d MMMM yyyy")</td>
                                        <td class="product-name"><span class="amount">@item.order_category</span></td>
                                        <td class="product-name">@item.order_status</td>
                                        <th class="product-remove">@string.Format("{0:C}", @item.total_price)</th>
                                        <td class="product-remove"><a href="@Url.Action("Detail", "Order", new { id = item.id})">Detail</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</section>