﻿@model Nyooy.Models.tbl_review

@{
    ViewBag.Title = "Detail";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Review</span>
            <h3 class="page-title">Edit Review</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Edit Review Form</h6>
                </div>
                @using (Html.BeginForm("Save", "Reviews", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <!-- Normal Buttons -->
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.id_order, "ID Order")
                                    @Html.TextBoxFor(m => m.id_order, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.review_date, "Review Date")
                                    @Html.TextBoxFor(m => m.review_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.review_desc, "Review")
                                <textarea class="form-control" rows="6" disabled="true">@Model.review_desc</textarea>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.review_status, "Show Review")
                                <select class="form-control" id="review_status" name="review_status">
                                    @if (Model.review_status == 0)
                                    {
                                        <option value="1">Show</option>
                                        <option value="0" selected>Hide</option>
                                    }
                                    else
                                    {
                                        <option value="1" selected>Show</option>
                                        <option value="0">Hide</option>
                                    }
                                    }

                                </select>
                            </div>
                            <input type="hidden" name="id" value="@Model.id"/>
                            <div class="row" style="justify-content: flex-end;">
                                <a href="@Url.Action("Index", "Reviews")">
                                    <div class="btn btn-white" style="margin-left: 5px;margin-right: 5px;">
                                        Cancel
                                    </div>
                                </a>
                                <button type="submit" class="btn btn-accent">Save Changes</button>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>


