﻿@model IEnumerable<Nyooy.Models.tbl_review>
@{
    ViewBag.Title = "Manage Reviews";
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Error
    </div>
}
<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Reviews</span>
            <h3 class="page-title">Manage Reviews</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Reviews</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <div style="margin-top:20px; margin-left:10px; margin-right:10px;">
                        <table width="100%" class="table mb-0 display" id="reviewTable" cellspacing="0">

                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">No</th>
                                    <th scope="col" class="border-0">ID Order</th>
                                    <th scope="col" class="border-0">Review</th>
                                    <th scope="col" class="border-0">Status</th>
                                    <th scope="col" class="border-0">Date</th>
                                    <th scope="col" class="border-0">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNo = 0; }
                                @foreach (var e in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@e.id_order</td>
                                        <td>@e.review_desc</td>
                                        @if (e.review_status == 0)
                                        {
                                            <td>Hide</td>
                                        }
                                        else
                                        {
                                            <td>Show</td>
                                        }
                                        <td>@e.review_date.Value.ToString("d MMMM yyyy - HH:mm")</td>
                                        <td>
                                            <a href="@Url.Action("Detail","Reviews", new { id = @e.id})" >Edit</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#reviewTable').DataTable();
    });
</script>

