﻿ <!-- Cartbox -->



<div class="cartbox-wrap">
    <div class="cartbox text-right">
        <button class="cartbox-close"><i class="zmdi zmdi-close"></i></button>
        <div class="cartbox__inner text-left">
            <div id="no-cart-list">
                <div class="text-center" style="margin-top:60px;">
                    <div >
                        <img src="@Url.Content("~/images/empty-cart.png")" style="width: 60px; height: 60px">
                    </div>
                    <div style="margin-top: 10px;">
                        <H2>Empty Cart</H2>
                    </div>
                </div>
            </div>
            <div id="cart-item">
                <div class="cartbox__items" id="cart-list">
                    
                </div>
                <div class="cartbox__buttons">
                    <a class="food__btn" href="@Url.Action("Cart", "Order")"><span>View cart</span></a>
                    <a class="food__btn" href="@Url.Action("Checkout", "Order")"><span>Checkout</span></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- //Cartbox -->

