﻿<!-- Start Header Area -->
<header class="htc__header bg--white">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img style="max-width: 72px;" src="@Url.Content("~/images/nyooy-logo.png")" alt="logo images">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                    <div class="main__menu__wrap">
                        <nav class="main__menu__nav d-none d-lg-block">
                            <ul class="mainmenu">
                                <li class="drop"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="drop">
                                    <a href="@Url.Action("Index", "Menu")">Menu</a>
                                    <ul class="dropdown__menu">
                                        <li><a href="@Url.Action("Category", "Menu", new { id = "maem" })">Maem'e</a></li>
                                        <li><a href="@Url.Action("Category", "Menu", new { id = "jajan" })">Jajan'e</a></li>
                                        <li><a href="@Url.Action("Category", "Menu", new { id = "mimik" })">Mimik'e</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Promo", "Home")">Promo</a></li>
                                <li><a href="@Url.Action("About", "Home")">About</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
                <div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">
                    <div class="header__right d-flex justify-content-end">
                        @if (Session["email"] == null)
                        {
                            <div class="log__in">
                                <a class="" href="@Url.Action("Login", "Login")"><strong>Login</strong></a>
                            </div>
                        }
                        else
                        {
                            <div class="log__in">
                                <div class="log__in">
                                    <nav class="login__menu__nav" style="display: block;">
                                        <ul class="">
                                            <li class="drop">
                                                <a><i class="zmdi zmdi-account-o"></i></a>
                                                <ul class="dropdown__menu">
                                                    @if (Session["role"].ToString() == "admin" || Session["role"].ToString() == "super_admin")
                                                    {
                                                        <li><a href="@Url.Action("Index", "Admin")">Admin Page</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="@Url.Action("Index", "Order")">Your Order</a></li>
                                                    }

                                                    <li><a href="@Url.Action("Index", "Profile")">Profil</a></li>
                                                    <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        }
                            <div class="shopping__cart" onclick="load()">
                                <a class="minicart-trigger" href="#"><i class="zmdi zmdi-shopping-basket"></i></a>
                                @if (Session["CartCounter"] == null || Session["CartCounter"].ToString() == "0")
                                {
                                    <div id="cartItem">
                                        <span id="cartCount"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="shop__qun" id="cartItem">
                                        <span id="cartCount">@Session["CartCounter"]</span>
                                    </div>
                                }

                            </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="mobile-menu d-block d-lg-none"></div>
            <!-- Mobile Menu -->
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>
<!-- End Header Area -->
