﻿<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Nyooy.id</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="@Url.Content("~/images/nyooy-logo.png")">
    <link rel="apple-touch-icon" href="@Url.Content("~/images/nyooy-logo.png")">

    <!-- Stylesheets -->
    @Styles.Render("~/Content/maincss")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g==" crossorigin="anonymous" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <!-- Modernizer js -->
    @Scripts.Render("~/bundles/modernizrjs")

</head>
<body>
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">

        @Html.Partial("_Header")
        <div style="position: relative; min-height: 100vh;">
            @RenderBody()
        </div>

        <!-- Start Footer Area -->
        <footer class="footer__area footer--1">

            <div class="copyright bg--theme">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="copyright__inner">
                                <div class="cpy__right--left">
                                    <p>All Right Reserved. <a href="" style="color: #FBED1B">Nyooy.id</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
        @Html.Partial("_CartBox")
    </div><!-- //Main wrapper -->
    <!-- JS Files -->
    <script type="text/javascript">

       function load() {
            var options = {
            type: "POST",
            url: '@Url.Action("CartList", "Order")',
            async: true,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset-utf-8",
                success: function (response) {
                if (response != null) {
                    $("#cart-item").show();
                    $("#no-cart-list").hide();
                    var html = '';
                    $.each(response, function (i, item) {
                        html += '<div class="cartbox__item"><div class="cartbox__item__thumb" ><a href=""><img src="@Url.Content("~/images/product/")' + item.photo + '" alt="small thumbnail"></a></div><div class="cartbox__item__content"><h5><a class="product-name">' + item.name + '</a></h5><p>Qty: <span>' + item.qty + '</span></p><span class="price">Rp. ' + item.price + '</span></div><button class="cartbox__item__remove"><i class="fa fa-trash" id="' +item.id_product+ '" onclick="RemoveFromCart(this); load();"></i></button></div >';
                    });
                    document.getElementById("cart-list").innerHTML = "";
                    $("#cart-list").append(html);
                } else {
                    $("#no-cart-list").show();
                    $("#cart-item").hide();
                }
            }
        };
        $.ajax(options);
    };
    </script>
    @if (Session["id"] != null)
    {
        <script type="text/javascript">
            function AddToCart(item) {
                var itemId = $(item).attr("itemid");
                var formData = new FormData();
                formData.append("ItemId", itemId);
                $.ajax({
                    async: true,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: '@Url.Action("AddToCart", "Order")',
		            success: function (data) {
                        if (data.Success) {
                            $("#cartCount").text(data.Counter);
                            $("#cartItem").addClass("shop__qun");
                            $('#successAddToCart').modal("show");
                            setInterval(hideSuccessModal, 1000);
                        }
                    },
                    error: function () {
                        alert("There is some problem.");
                    }
                });
            }
            function hideSuccessModal() {
                $('#successAddToCart').modal("hide");
            };
        </script>
    }
    else
    {
        <script type="text/javascript">
            function AddToCart(item) {
                window.location.href = "@Url.Action("Login","Login")";
            };
        </script>
    }

    <script type="text/javascript">
        function RemoveFromCart(item) {
            var itemId = $(item).attr("id");
            var formData = new FormData();
            formData.append("ItemId", itemId);
            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '@Url.Action("RemoveFromCart", "Order")',
		        success: function (data) {
                    if (data.Success) {
                        if (data.Counter != 0) {
                            $("#cartCount").text(data.Counter);
                            $("#cartItem").addClass("shop__qun");
                        } else {
                            $("#cartCount").empty();
                            $("#cartItem").removeClass("shop__qun");
                        }
                    }
                },
                error: function () {
                    alert("There is some problem.");
                }
            });
        }
    </script>
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
</body>
</html>
