﻿<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Nyooy.id</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="@Url.Content("~/images/nyooy-logo.png")" type="image">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/logincss")
</head>
<body class="h-100">
    <div class="h-100 container-fluid ">
        <div class="h-100 row justify-content-center ">
            <div class="col-lg-4 mt-4">
                <div class="card card-small mb-4">
                    <div class="card-header text-center">
                        <img src="@Url.Content("~/images/nyooy-logo.png")" style="width:64px;height:64px;">
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

</body>
</html>