﻿<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="@Url.Action("Index","Admin")" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="@Url.Content("~/images/nyooy-logo.png")" alt="Nyooy.id">
                    <span class="d-none d-md-inline ml-1">Nyooy.id</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Admin")">
                    <i class="material-icons">edit</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Products")">
                    <i class="material-icons">vertical_split</i>
                    <span>Products</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index", "Orders")">
                    <i class="material-icons">view_module</i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Courier")">
                    <i class="material-icons">table_chart</i>
                    <span>Courier</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("TrackOrder", "Courier")">
                    <i class="material-icons">table_chart</i>
                    <span>Track Order</span>
                </a>
            </li>
            <!--Drop Down Report-->
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">table_chart</i>
                        <span>Report</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Index", "Report")">
                            <span>Report Transaction</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("ProductReport", "Report")">
                            <span>Report Product</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("CourierReport", "Report")">
                            <span>Report Courier</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("UserGrowthReport", "Report")">
                            <span>Report User</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("ReviewReport", "Report")">
                            <span>Report Review</span>
                        </a>
                    </div>
                </div>
            </li>
            <!--Drop Down Report-->
            @if (Session["Role"].ToString() == "super_admin")
            {
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">table_chart</i>
                            <span>Log History</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Index", "ErrorHistory")">
                                <span>Error History</span>
                            </a>
                            <a class="dropdown-item" href="@Url.Action("HistoryOrder", "Orders")">
                                <span>Order History</span>
                            </a>
                            <a class="dropdown-item" href="@Url.Action("HistoryProduct", "Products")">
                                <span>Product History</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index", "Reviews")">
                        <i class="material-icons">rate_review</i>
                        <span>Reviews</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Index", "Users")">
                        <i class="material-icons">account_circle</i>
                        <span>Users</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</aside>