﻿
<div class="main-navbar sticky-top bg-white">
    <!-- Main Navbar -->
    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
        <div class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
        </div>
        <ul class="navbar-nav border-left flex-row ">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @if (Session["foto"] == null)
                    {
                        <img class="user-avatar rounded-circle mr-2" src="@Url.Content("~/images/photo/default.png")" alt="User Avatar">
                    }
                    else
                    {
                        <img class="user-avatar rounded-circle mr-2" src="@Url.Content("~/images/photo/"+Session["foto"].ToString())" alt="User Avatar">
                    }
                    <span class="d-none d-md-inline-block">@Session["Name"]</span>
                </a>
                <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item" href="@Url.Action("Index", "Profile")">
                        <i class="material-icons">&#xE7FD;</i> Profile
                    </a>
                    @if (Session["role"].ToString() == "super_admin")
                    {
                        <a class="dropdown-item" href="@Url.Action("Index", "Config")">
                            <i class="material-icons">settings</i> Config
                        </a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="@Url.Content("~/logout")">
                        <i class="material-icons text-danger">&#xE879;</i> Logout
                    </a>
                </div>
            </li>
        </ul>
        <nav class="nav">
            <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                <i class="material-icons">&#xE5D2;</i>
            </a>
        </nav>
    </nav>
</div>
