a {
  color: #495057;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline; }

.tag-role {
    padding: 0.4286rem 0.875rem;
    font-size: 0.6875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.alert-dismissible{
    color: #fff;
}

.user-avatar {
    height: 40px;
    width: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

.user-avatar-detail {
    height: 110px;
    width: 110px;
    background-position: center center;
    background-repeat: no-repeat;
}