﻿@{
    ViewBag.Title = "About";
}
<section class="food__special__offer bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">About</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Single Feature -->
            <div class="col-12">
                <div class="square ">
                    <div class="feature text-center ">
                        <div class="">
                            <div class="">
                                <div class="ftr__address__icon">
                                    <i class="zmdi zmdi-home"></i>
                                </div>
                                <div style="color: #333">
                                    <h3>Location</h3>
                                    <p>Jl. Sulfat Agung III No 1 Malang</p>
                                    <h3 style="margin-top: 20px">Contact</h3>
                                    <p>If you have any questions or suggestions about our products, <br>please feel free to email us at admin@gmail.com or use the contact form below.</p>
                                </div>
                            </div>
                            <div class="">
                                <div class="ftr__address__icon">
                                    <i class="zmdi zmdi-phone"></i>
                                </div>
                                <div class="">
                                    <p><a href="#">+081 234 567 890</a></p>
                                    <p><a href="#">+085 987 654 321</a></p>
                                </div>
                            </div>
                            <div class="">
                                <div class="ftr__address__icon">
                                    <i class="zmdi zmdi-email"></i>
                                </div>
                            </div>
                        </div>
                        <ul class="social__icon ">
                            <li><a target="_blank" href="https://www.facebook.com/Nyooy/"><i class="zmdi zmdi-facebook bg__cat--1"></i></a></li>
                            <li><a target="_blank" href="https://instagram.com/nyooy.id"><i class="zmdi zmdi-instagram bg__cat--1"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- End Single Feature -->
            <!-- End Single Feature -->
        </div>
    </div>
</section>