﻿@model Nyooy.ViewModels.ReviewViewModel
@{
    ViewBag.Title = "Home";
}
<!-- Start Slider Area -->
<div class="slider__area slider--three">
    <div class="slider__activation--1">
        <!-- Start Single Slide -->
        <div class="slide slider__fixed--height bg-image-nyooy-2 poss--relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="slider__content">
                            <div class="slider__inner">
                                <h1 style="color: #FFF; font-size: 75px"><strong>Sweet, Juicy & Delicious</strong></h1>
                                <h2 style="color: #FBED1B; font-size: 40px"><strong>-----</strong></h2>
                                <h2 style="color: #FBED1B; font-size: 40px"><strong>Nyooy.id</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide__pizza--2 wow fadeInLeft" data-wow-delay="0.4s">
                <img src="" alt="pizza images">
            </div>
            <div class="slide__pizza--3 wow fadeInRight" data-wow-delay="0.4s">
                <img src="" alt="pizza images">
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
<!-- End Slider Area -->
<!-- Start Promo Area -->
<section class="food__menu__grid__area section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">PROMO!</h2>
                </div>
            </div>
        </div>
        <div class="row mt--30" style="justify-content: space-around;">
            <!-- Start Single Menu Item -->
            @foreach (var item in ViewBag.promo)
            {
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="menu__grid__item wow fadeInLeft">
                        <div class="menu__grid__thumb">
                            <a href="@Url.Action("Details", "Menu", new { id = @item.id })">
                                <img src="@Url.Content("~/images/product/" + @item.photo)" alt="grid item images">
                            </a>
                            <div class="grid__item__offer">
                                <span>Special</span>
                                <span>Offer</span>
                            </div>
                        </div>
                        <div class="menu__grid__inner">
                            <div class="menu__grid__details">
                                <h2><a href="@Url.Action("Details", "Menu", new { id = @item.id })">@item.name</a></h2>
                                <ul class="grid__prize__list">
                                    <li class="old__prize">@string.Format("{0:C}", item.price)</li>
                                    <li>@string.Format("{0:C}", item.promo)</li>
                                </ul>
                                <p>@item.description</p>
                            </div>
                            <div class="grid__addto__cart__btn" itemid="@item.id" onclick="AddToCart(this)">
                                <a class="text-white" href="javascript:;">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <!-- End Single Menu Item -->
        </div>
    </div>
</section>
<!-- Start Special Offer -->
<section class="food__special__offer bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">Our Special Dishes</h2>
                    <p>Maem'e</p>
                </div>
            </div>
        </div>
        <div class="row mt--40">
            @foreach (var item in ViewBag.maem)
            {
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <div class="food__offer text-center foo offer-hover h-100">
                        <div class="offer__thumb poss--relative">
                            <img src="@Url.Content("~/images/product/" + @item.photo)" alt="offer images">
                        </div>
                        <div class="offer__details offer-hover">
                            <h2><a href="@Url.Action("Details", "Menu", new { id = @item.id })">@item.name</a></h2>
                            <div style="height:120px;">
                                @if (@item.description.Length > 100)
                                {
                                    <p>@item.description.Substring(0,99) ...</p>
                                }
                                else
                                {
                                    <p>@item.description</p>
                                }

                            </div>
                            
                            <div >
                                <h2 class="price">
                                    @string.Format("{0:C}", item.price)
                                </h2>
                                <div class="offer__btn" itemid="@item.id" onclick="AddToCart(this)">
                                    <a class="food__btn grey--btn mid-height" href="javascript:;">Add to Cart</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- End Special Offer -->


<!-- Start Testimonail Area -->
<section class="fd__testimonial__area section-padding--lg bg-image-nyooy-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">100% Customer Satisfaction</h2>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <div class="testimonial__activation--1 text-center bg--white owl-carousel owl-theme clearfix">
                    <!-- Start Single Testimonial -->
                    @foreach (var itemReview in Model.Review)
                    {

                        foreach (var itemOrder in Model.Order)
                        {
                            if (itemReview.id_order == itemOrder.id)
                            {
                                foreach (var itemUser in Model.User)
                                {
                                    if (itemOrder.id_user == itemUser.id)
                                    {
                                        <div class="testimonial">
                                            <div class="testimonial__details">
                                                <h4>@itemUser.name</h4>
                                                <p>@itemReview.review_desc</p>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                    <!-- End Single Testimonial -->
                </div>

                <!--Start Add Button Review-->
                @*<div class="text-center pt-4">
                    @Html.ActionLink("Add Review", "Index", "Review", null, new { @type = "button", @class = "btn btn-primary col-md-3" })
                </div>*@
                <!--End Add Button Review-->
            </div>
        </div>
    </div>
</section>
<!-- End Testimonail Area -->
<!-- Start Order Option Area -->
<section class="fd__about__area section-padding--sm bg--white">
    <div class="container">
        <div class="row">
            <!-- Start Single About -->
            <div class="col-lg-4 col-md-12 col-sm-12 d-flex align-items-center">
                <div class="fd__about__center foo">
                    <div class="fd__about">
                        <div class="section__title service__align--left">
                            <p>Best product, Best service</p>
                            <h2 class="title__line">Nyooy.id</h2>
                        </div>
                        <h4>Best Service  For Our Customer</h4>
                        <p>Lorem ipsum dolor sit amet, cotnsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <!-- End Single About -->
            <!-- Start Single Adout -->
            <div class="col-lg-4 col-md-6 col-sm-12 sm--mt--40 md--mt--40">
                <div class="about wow fadeInRight" data-wow-delay="0.2s">
                    <div class="about__thumb">
                        <img src="@Url.Content("~/images/personal.jpg")" alt="about images">
                    </div>
                    <div class="about__details">
                        <h2 style="font-size:26px;">Nyooy Personal</h2>
                        <p>Enjoy Nyooy with your closest friend</p>
                        <p>No Minimum Order Quantity with Delivery Fee</p>
                        <div class="about__btn">
                            <a class="food__btn white--btn" href="@Url.Action("Personal", "Order")">Choose</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Adout -->
            <!-- Start Single Adout -->
            <div class="col-lg-4 col-md-6 col-sm-12 md--mt--40 sm--mt--40">
                <div class="about bg--yellow wow fadeInRight" data-wow-delay="0.3s">
                    <div class="about__thumb">
                        <img src="@Url.Content("~/images/event.jpg")" alt="about images">
                    </div>
                    <div class="about__details">
                        <h2 style="font-size:26px;">Nyooy Event</h2>
                        <p>Great for eating at big events</p>
                        <p>Free Delivery Fee with Minimum 25 Order Quantity</p>
                        <div class="about__btn">
                            <a class="food__btn white--btn" href="@Url.Action("Event", "Order")">Choose</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Adout -->
        </div>
    </div>
</section>
<!-- End Order Option Area -->
<div class="modal fade" id="successAddToCart" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-light" role="alert" style="color: #333">
            Successfully Added Item to Cart
        </div>
    </div>

</div>