﻿@model IEnumerable<Nyooy.Models.tbl_product>

@{
    ViewBag.Title = "Promo";
}

<section class="food__menu__grid__area section-padding--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section__title title__style--2 service__align--center">
                    <h2 class="title__line">PROMO!</h2>
                    <p>Special Offers for Our Dearest Customer</p>
                </div>
            </div>
        </div>
        <div class="row mt--30" style="justify-content: space-around;">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="menu__grid__item wow fadeInLeft">
                        <div class="menu__grid__thumb">
                            <a href="@Url.Action("Details", "Menu", new { id = @item.id })">
                                <img src="@Url.Content("~/images/product/" + @item.photo)" alt="grid item images">
                            </a>
                            <div class="grid__item__offer">
                                <span>Special</span>
                                <span>Offer</span>
                            </div>
                        </div>
                        <div class="menu__grid__inner">
                            <div class="menu__grid__details">
                                <h2><a href="@Url.Action("Details", "Menu", new { id = @item.id })">@item.name</a></h2>
                                <ul class="grid__prize__list">
                                    <li class="old__prize">@string.Format("{0:C}", item.price)</li>
                                    <li>@string.Format("{0:C}", item.promo)</li>
                                </ul>
                                <p>@item.description</p>
                            </div>
                            <div class="grid__addto__cart__btn" itemid="@item.id" onclick="AddToCart(this)">
                                <a class="text-white" href="javascript:;">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>
<div class="modal fade" id="successAddToCart" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-light" role="alert" style="color: #333">
            Successfully Added Item to Cart
        </div>
    </div>

</div>