﻿@model Nyooy.Models.tbl_review
@{
    ViewBag.Title = "Review";
}
<div class="h-100 container-fluid ">
    <div class="h-100 row justify-content-center ">
        <div class="col-lg-4 mt-4">
            <div class="card card-small mb-4">

                <div class="card-header border-bottom" style="text-align: center;">
                    <h6 class="m-0">Review</h6>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">

                                @using (Html.BeginForm("Save", "Review"))
                                {

                                    if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @if (true)
                                            {

                                            }
                                            @ViewBag.Message
                                        </div>
                                    }

                                    if (ViewBag.Success != null)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            @ViewBag.Success
                                        </div>
                                    }

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.id_order)
                                            @Html.TextBoxFor(m => m.id_order, new { @class = "form-control", @type = "text", @placeholder = "Number Order", @Value = "" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.review_desc)
                                            @Html.TextAreaFor(m => m.review_desc, new { @class = "form-control", @type = "text", @placeholder = "Description", @Value = "" })
                                        </div>
                                    </div>

                                    @Html.HiddenFor(m => m.id)

                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-accent">Submit</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

