﻿@model Nyooy.ViewModels.OrdersDetailViewModel

@{
    ViewBag.Title = "Details";
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Error
    </div>
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Orders</span>
            <h3 class="page-title">Order Detail</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">

        <div class="col-lg-6">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Order Information</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                @using (Html.BeginForm("Save", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(m => m.Order.id, "Order ID")
                                            @Html.TextBoxFor(m => m.Order.id, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(m => m.Order.order_date, "Order Date")
                                            @Html.TextBoxFor(m => m.Order.order_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @readonly = "readonly" })
                                        </div>

                                    </div>
                                    <div class="form-group" id="selectStatus">
                                        @Html.LabelFor(m => m.Order.order_status, "Status")
                                        @Html.DropDownListFor(m => m.Order.order_status, new SelectList(Model.order_status, @Model.Order.order_status), "Choose...", new { @class = "form-control", @id = "status" })
                                    </div>
                                    <div class="form-group" id="selectCourier" style="display:none;">
                                        @Html.LabelFor(m => m.Order.id_courier, "Assign Order to")
                                        @Html.DropDownListFor(m => m.Order.id_courier, new SelectList(Model.Courier, "id", "name"), "Choose...", new { @class = "form-control", @id = "courier" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Order.user_name, "User")
                                        @Html.TextBoxFor(m => m.Order.user_name, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Order.payment_name, "Payment Method")
                                        @Html.TextBoxFor(m => m.Order.payment_name, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                        @if (Model.Order.id_payment == 1 && Model.Order.order_payment != null)
                                        {
                                            <a href="" style="color:midnightblue" data-toggle="modal" data-target="#imageModal">
                                                See Payment Slip
                                            </a>

                                        }
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Order.order_note, "Order Note")
                                        <textarea class="form-control" rows="6" disabled="true">@Model.Order.order_note</textarea>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Order.order_category, "Category")
                                        @Html.TextBoxFor(m => m.Order.order_category, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                    </div>
                                    <button type="submit" class="btn btn-accent">Update Status Order</button>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Product Order</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <table class="table mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">Product</th>
                                <th scope="col" class="border-0">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.detail)
                            {
                                <tr>
                                    <td>@item.name x @item.qty</td>
                                    <td>@string.Format("{0:C}", item.total_price)</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>SubTotal Order</strong></td>
                                <td>@string.Format("{0:C}", ViewBag.total_price)</td>
                            <tr>
                                <td><strong>Delivery Fee</strong></td>
                                <td>@string.Format("{0:C}", Model.Order.delivery_fee)</td>
                            </tr>
                            <tr>
                                <td><strong>TOTAL</strong></td>
                                <td style="color: #17c671"><strong>@string.Format("{0:C}", ViewBag.total_price + Model.Order.delivery_fee)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>
@if (Model.Order.id_payment == 1 && Model.Order.order_payment != null)
{
    <div style="margin-top: 40px;" class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="max-height: 480px; max-width:480px;">
                    <img src="@Url.Content("~/Images/payment-slip/" + Model.Order.order_payment)" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <div class="btn btn-white" data-dismiss="modal">Close</div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
@if (@Model.Order.order_status == "On Delivery")
{
    <script>
        $(document).ready(function () {
            $("#selectCourier").show();
        });

    </script>
}
<script>
    $(document).ready(function () {
        $('#status').on('change', function () {
            if (this.value == "On Delivery")
            //.....................^.......
            {
                $("#selectCourier").show();
            }
            else {
                $("#selectCourier").hide();
            }
        });
    });

</script>