﻿@model IEnumerable<Nyooy.ViewModels.HistoryOrder>

@{
    ViewBag.Title = "Log History Order";
}

<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Log History</span>
            <h3 class="page-title">Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Log History Orders</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <div style="margin-top:20px; margin-left:10px; margin-right:10px;">
                        <table width="100%" class="table mb-0 display" id="logOrderTable" cellspacing="0">

                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">No</th>
                                    <th scope="col" class="border-0">ID Order</th>
                                    <th scope="col" class="border-0">Log</th>
                                    <th scope="col" class="border-0">Username</th>
                                    <th scope="col" class="border-0">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNo = 0; }
                                @foreach (var e in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@e.id_order</td>
                                        <td>@e.status_order</td>
                                        <td>@e.username</td>
                                        <td>@e.update_date.Value.ToString("d MMMM yyyy - HH:mm")</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#logOrderTable').DataTable();
    });
</script>

