﻿@model IEnumerable<Nyooy.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Manage Orders";
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @ViewBag.Error
    </div>
}

<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Orders</span>
            <h3 class="page-title">Manage Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Orders</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <div style="margin-top:20px; margin-left:10px; margin-right:10px;">
                        <table width="100%" class="table mb-0 display" id="orderTable" cellspacing="0">

                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">No</th>
                                    <th scope="col" class="border-0">ID</th>
                                    <th scope="col" class="border-0">Date</th>
                                    <th scope="col" class="border-0">User</th>
                                    <th scope="col" class="border-0">Status</th>
                                    <th scope="col" class="border-0">Total</th>
                                    <th scope="col" class="border-0">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNo = 0; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.id</td>
                                        <td>@item.order_date.Value.ToString("d MMMM yyyy - HH:mm")</td>
                                        <td>@item.user_name</td>
                                        <td>@item.order_status</td>
                                        <td>@string.Format("{0:C}", item.total_price)</td>
                                        <td>
                                            <a href="@Url.Action("Details", "Orders", new { id = @item.id})">Detail</a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#orderTable').DataTable();
    });
</script>
