﻿
@{
    ViewBag.Title = "Dashboard";
}
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Overview</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="row">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Product Sales</span>
                            <h6 class="stats-small__value count my-3" id="product-sales"></h6>
                        </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Product</span>
                            <h6 class="stats-small__value count my-3" id="total-product"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Reviews</span>
                            <h6 class="stats-small__value count my-3" id="total-reviews"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Users</span>
                            <h6 class="stats-small__value count my-3" id="total-users"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Staff</span>
                            <h6 class="stats-small__value count my-3" id="total-staff"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Small Stats Blocks -->
    <div class="row">
        <!-- Users Stats -->
        <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Last 30 Days Income</h6>
                </div>
                <div class="card-body pt-0">
                    <div class="row border-bottom py-2 bg-light">
                        <div class="col-12 col-sm-6">
                        </div>
                    </div>
                    <canvas height="130" style="max-width: 100% !important;" id="last-month-transaction"></canvas>
                </div>
            </div>
        </div>
        <!-- End Users Stats -->


    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        getDashboardData();
        setInterval(getDashboardData, 60000);
    });

    function getDashboardData() {
        var options = {
            type: "GET",
            url: '@Url.Action("GetData", "Admin")',
            async: true,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset-utf-8",
            success: function (response) {
                if (response != null) {
                    document.getElementById("product-sales").innerHTML = response.productSales;
                    document.getElementById("total-product").innerHTML = response.totalProduct;
                    document.getElementById("total-reviews").innerHTML = response.totalReview;
                    document.getElementById("total-users").innerHTML = response.totalUsers;
                    document.getElementById("total-staff").innerHTML = response.totalStaff;
                    var labels = response.a.map(function (e) {
                        var d = new Date(e.Tanggal_Transaksi);
                        return d.toLocaleDateString();
                    });
                    var data = response.a.map(function (e) {
                        return e.Column1;
                    });
                    var ctx = document.getElementById('last-month-transaction').getContext('2d');
                    var myLineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Transaction',
                                data: data,
                                backgroundColor: 'rgba(0, 119, 204, 0.3)',
                                borderColor: 'rgb(54, 162, 235)'
                            }]
                        },
                        options: options
                    });
                }
            }
        };
        $.ajax(options);
    }
</script>