﻿@model Nyooy.Models.tbl_config
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Settings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <a href="@Url.Action("Index", "Admin")">
                        <span style="font-size:17px; display:inline-block;" class="fa">&#xf060;</span>
                    </a>
                    <h6 class="m-0 m-lg-3" style="display:inline-block;">Update Get Location Delivery Time</h6>
                </div>
                @using (Html.BeginForm("Save", "Config"))
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <!-- Normal Buttons -->

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @*@Html.LabelFor(c => c.Product.price, "Price")*@
                                    @Html.LabelFor(c => c.time_get_location, "Time")
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Milisecond </span>
                                        </div>
                                        @Html.TextBoxFor(c => c.time_get_location, new { @class = "form-control", @type = "number", @placeholder = "10000" })
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(c => c.id)

                            <div class="row" style="justify-content: flex-end;">
                                <a href="@Url.Action("Index", "Admin")">
                                    <div class="btn btn-danger" style="margin-left: 5px;margin-right: 5px;">
                                        Cancel
                                    </div>
                                </a>
                                <button type="submit" class="btn btn-accent" style="margin-left: 5px;margin-right: 5px;">Submit</button>

                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

