﻿@model Nyooy.Models.tbl_user
@{
    ViewBag.Title = "Index";
}
<div class="h-100 container-fluid ">
    <div class="h-100 row justify-content-center ">
        <div class="col-lg-4 mt-4">
            <div class="card card-small mb-4">
                @*<div class="card-header text-center">
                    @if (Model.foto == null)
                    {
                        <img src="@Url.Content("~/images/nyooy-logo.png")" style="width:64px;height:64px;">
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/photo/" + Model.foto)" style="width:64px;height:64px;">
                    }
                </div>*@

                <div class="card-header border-bottom" style="text-align: center;">
                    <h6 class="m-0">Edit Profile</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">

                                @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @if (true)
                                            {

                                            }
                                            @ViewBag.Message
                                        </div>
                                    }

                                    if (ViewBag.Success != null)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            @ViewBag.Success
                                        </div>
                                    }

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.name)
                                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @type = "text", @placeholder = "Andi" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.no_hp)
                                            @Html.TextBoxFor(m => m.no_hp, new { @class = "form-control", @type = "number", @placeholder = "087616606xxx" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.dob)
                                            @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.address)
                                            @Html.TextAreaFor(m => m.address, new { @class = "form-control", @type = "text", @placeholder = "Jl.Example No.64" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.foto)
                                            <input type="file" name="files" class="form-control" accept="image/*"/>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.password)
                                            @Html.TextBoxFor(m => m.password, new { @class = "form-control", @type = "password", @placeholder = "Password", @Value = "" })
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(m => m.confirmPassword)
                                            @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Confirm Password", @Value = "" })
                                        </div>
                                    </div>

                                    @Html.HiddenFor(m => m.id)

                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-accent">Submit</button>
                                    </div>

                                    <div style="text-align: center; margin-top: 10px;">
                                        @Html.ActionLink("Do You Want To Change Password?", "ChangePassword", "Profile")
                                    </div>
                                }

                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

