﻿@model Nyooy.Models.tbl_user

@{
    ViewBag.Title = "Details";
}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">User Profile</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-small mb-4 pt-3">
                <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                        @if (Model.foto == null)
                        {
                            <img class="rounded-circle" src="@Url.Content("~/Images/photo/default.png")" alt="User Avatar" width="110">
                        }
                        else
                        {
                            <img class="user-avatar-detail rounded-circle" src="@Url.Content("~/Images/photo/"+Model.foto.ToString())" alt="User Avatar" width="110">
                        }

                    </div>
                    <h4 class="mb-0">@Model.name</h4>
                    <span class="text-muted d-block mb-2" style="margin-top: 20px">
                        @if (Model.role.ToString() == "super_admin")
                        {
                            <div class="tag-role bg-warning text-white" style="margin-left: 80px; margin-right: 80px">Super Admin</div>
                        }
                        else if (Model.role.ToString() == "admin")
                        {
                            <div class="tag-role bg-info text-white" style="margin-left: 80px; margin-right: 80px">Admin</div>
                        }
                        else
                        {
                            <div class="tag-role bg-success text-white" style="margin-left: 80px; margin-right: 80px">User</div>
                        }
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Account Details</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col">
                                @using (Html.BeginForm("Save", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(m => m.name)
                                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(m => m.role, "Role")
                                            @Html.DropDownList("Role", @ViewBag.Departments as List<SelectListItem>, "Choose...", new { @class = "form-control" })


                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(m => m.email)
                                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "email", @readonly = "readonly" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.LabelFor(m => m.no_hp)
                                            @Html.TextBoxFor(m => m.no_hp, new { @class = "form-control", @type = "phone", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.dob)
                                        @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}" , new { @class = "form-control", @type = "date", @readonly = "readonly" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.address)
                                        @Html.TextBoxFor(m => m.address, new { @class = "form-control", @type = "text", @readonly = "readonly" })
                                    </div>
                                    @Html.HiddenFor(m => m.id)
                                    <div class="row" style="justify-content: flex-end;">
                                        <button type="submit" class="btn btn-success">Update Role</button>
                                        <a href="@Url.Action("Index", "Users")">
                                            <div class="btn btn-white" style="margin-left: 5px;margin-right: 5px;">
                                                Back
                                            </div>
                                        </a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                            Delete
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete - @Model.name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete this User?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <a href="@Url.Action("Delete", "Users", new { id = @Model.id })">
                    <div class="btn btn-danger" style="margin-left: 5px;margin-right: 5px;">
                        Delete
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>