﻿@model IEnumerable<Nyooy.Models.tbl_user>

@{
    /**/
    ViewBag.Title = "Manage Users";
}



<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
            <h3 class="page-title">Manage Users</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Users</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <div style="margin-top:20px; margin-left:10px; margin-right:10px;">
                        <table width="100%" class="table mb-0 display" id="userTable" cellspacing="0">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">No</th>
                                    <th scope="col" class="border-0">Name</th>
                                    <th scope="col" class="border-0">Email</th>
                                    <th scope="col" class="border-0">Phone</th>
                                    <th scope="col" class="border-0">Role</th>
                                    <th scope="col" class="border-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNo = 0; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowNo += 1)</td>
                                        <td>@item.name</td>
                                        <td>@item.email</td>
                                        <td>@item.no_hp</td>
                                        <td>
                                            @if (item.role.ToString() == "super_admin")
                                            {
                                                <div class="tag-role bg-warning text-white">Super Admin</div>
                                            }
                                            else if (item.role.ToString() == "admin")
                                            {
                                                <div class="tag-role bg-info text-white">Admin</div>
                                            }
                                            else
                                            {
                                                <div class="tag-role bg-success text-white">User</div>
                                            }

                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "Users", new { id = @item.id})">Edit</a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>